Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

feat(codex): ✨ set commit attribution
  .config/nix/home-manager/codex.nix
Due: nix-fmt

refactor(codex): ♻️ reuse model name in config
  .config/nix/home-manager/codex.nix
Due: nix-fmt

chore: 🔨 update nvim-treesitter to a new commit reference in lazy-lock
  .config/nvim/lazy-lock.json
Due: none

test(codex): 🧪 simplify hooks for debugging
  .config/nix/home-manager/codex.nix
Due: nix-fmt

Add Anthropic skills marketplace config
  .config/claude/settings.json
Due: none

feat(git): ✨ add user details and GPG configuration to .gitconfig
  .gitconfig
Due: none

feat(claude): ✨ add model configuration and update marketplace settings
  .config/claude/settings.json
Due: none

feat(claude): ✨ add flake-init skill for automatic Nix environment setup
  .config/claude/skills/flake-init/SKILL.md
  .config/claude/skills/flake-init/references/manual-steps.md
  .config/claude/skills/flake-init/references/troubleshooting.md
  .config/claude/skills/flake-init/scripts/flake-init.sh
  .config/claude/skills/flake-init/templates/go.nix
  .config/claude/skills/flake-init/templates/nodejs.nix
  .config/claude/skills/flake-init/templates/terraform-version-pinned.nix
  .config/claude/skills/flake-init/templates/terraform.nix
Due: none

feat(claude): ✨ update CLAUDE_CONFIG_DIR path and add effortLevel setting
  .config/claude/settings.json
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

feat(claude): ✨ add Claude Code Guide skill documentation in Japanese
  .config/claude/skills/claude-code-guide/SKILL.md
Due: none

feat(aerospace): ✨ update alt-x comment to reflect wezterm hotkey usage
  .config/aerospace/aerospace.toml
Due: none

feat(claude): ✨ add redirect script for editing .claude files to dotfiles
  .config/claude/hooks/redirect-dotfiles.sh
  .config/claude/settings.json
Due: none

feat(claude): ✨ update commit guidelines for clarity and best practices
  .config/claude/skills/git-commit/SKILL.md
Due: none

feat(nix): ✨ manage Claude Code settings via home-manager + sops-nix
  .config/nix/home-manager/claude-code.nix
  .config/nix/home-manager/default.nix
  .config/nix/home-manager/dotfiles.nix
  .config/nix/home-manager/sops.nix
  .config/nix/secrets/user-secrets.yaml
  .gitignore
Due: nix-fmt

fix(nix): 🐛 xdg.configFile による循環シンボリンクを解消
  .config/nix/home-manager/claude-code.nix
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

fix(claude): 🐛 remove unnecessary preferences block from configuration file
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(nix): ✨ Manage private plugin activations using sops-nix
  .config/nix/secrets/user-secrets.yaml
Due: none

feat(zsh): ✨ Added fzf completion for gcloud config set account
  .config/zeno/gcloud.yml
Due: none

feat(claude): ✨ Detects differences between settings.json and Nix management using Stop hook
  .config/claude/hooks/check-settings-drift.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(starship): ✨ Add custom gcloud module to display active configuration
  .config/starship.toml
Due: none

feat(zeno): ✨ Add gcloud config abbreviations and property completion
  .config/zeno/gcloud.yml
Due: none

feat(zsh): ✨ add gcloud configuration snippet for easy access in Neovim
  .config/zeno/gcloud.yml
Due: none

feat(wezterm): ✨ Add gcloud configurations edit to command palette
  .config/wezterm/keymaps.lua
Due: stylua

fix(claude): 🐛 Brace variable in flake-init.sh to prevent UTF-8 parsing error
  .config/claude/skills/flake-init/scripts/flake-init.sh
Due: none

fix(claude): 🐛 Fix hook false-positive on file paths containing terraform/git
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix(claude): 🐛 Add post-setup verification and git add -f after exclude
  .config/claude/skills/flake-init/SKILL.md
  .config/claude/skills/flake-init/references/manual-steps.md
  .config/claude/skills/flake-init/references/troubleshooting.md
  .config/claude/skills/flake-init/scripts/flake-init.sh
Due: none

fix(nix): 🐛 update troubleshooting guide for .terraform-version handling
  .config/claude/skills/flake-init/references/troubleshooting.md
Due: none

chore: 🔨 add "DeepWiki" to the English spellcheck dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

chore: 🔨 update flake.lock with new lastModified and rev values
  .config/nix/flake.lock
Due: none

feat(wezterm): ✨ Add VPN connect to command palette with interactive shell helper
  .config/wezterm/keymaps.lua
Due: stylua

feat(claude): ✨ add hook to block SNS with DAILY/WEEKLY frequency combinations
  .config/claude/hooks/prevent-sns-daily-weekly.sh
  .config/claude/settings.json
Due: none

fix(claude): 🐛 improve Stop hook to pass reason to Claude for auto-fix
  .config/claude/hooks/check-settings-drift.sh
Due: none

feat(claude): ✨ add agent hook for auto-fixing settings.json Nix drift
  .config/claude/hooks/check-settings-drift.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(nix): ✨ add shishoctl CLI to mocha host
  .config/nix/flake.nix
  .config/nix/hosts/mocha/default.nix
  .config/nix/packages/shishoctl.nix
Due: nix-fmt

feat(claude): ✨ refactor prompt for clarity and detailed user guidance
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(zeno): ✨ add shishoctl snippets and fzf completions
  .config/zeno/shishoctl.yml
Due: none

feat(nvim): ✨ recursively list folder contents in nb picker
  .config/nvim/lua/config/nb.lua
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

feat(claude): ✨ add save-session skill for exporting session logs
  .config/claude/skills/save-session/SKILL.md
  .config/claude/skills/save-session/scripts/capture.sh
Due: none

feat(claude): ✨ capture ANSI escapes in save-session with .wezesc format
  .config/claude/skills/save-session/SKILL.md
  .config/claude/skills/save-session/scripts/capture.sh
Due: none

fix(claude): 🐛 capture full scrollback instead of viewport only
  .config/claude/skills/save-session/scripts/capture.sh
Due: none
