Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

style: 💄 refactor regex patterns and clean up whitespace in config files
  .config/nvim/lua/config/keymaps.lua
  .config/nvim/lua/plugins/base/baleia.lua
  .config/nvim/lua/plugins/base/snacks.lua
  .config/nvim/lua/plugins/editor/mini-surround.lua
  .config/nvim/lua/plugins/plamo-translate.lua
  .config/wezterm/tab.lua
  .config/wezterm/wezterm.lua
Due: stylua

refactor(claude): 🔧 switch to blacklist-based permission model
  .config/claude/settings.json
Due: none

feat(claude): ✨ add nix format hook with external script
  .config/claude/scripts/format-nix.sh
  .config/claude/settings.json
Due: none

feat(claude): ✨ add Git commit message format and update permissions settings
  .config/claude/CLAUDE.md
  .config/claude/settings.json
Due: none

feat(zeno): ✨ include private and org repos in ghq get completion
  .config/zeno/git.yml
Due: none

feat(zeno): ✨ add AWS resource ID completions with profile/region support
  .config/zeno/aws.yml
Due: none

feat(zsh): ✨ add SSM start-session snippet to AWS configuration file
  .config/zeno/aws.yml
Due: none

chore: 🔨 add "Hashi" to typos and update spell additions list
  .config/nvim/.typos.toml
  .config/nvim/spell/en.utf-8.add
Due: none

feat(wezterm): ✨ add ARN quick select to open AWS console
  .config/wezterm/keymaps.lua
Due: stylua

feat(zsh): ✨ add show-buffer widget to display LBUFFER/RBUFFER
  .config/zsh/rc/bindkey.zsh
Due: none

refactor: ♻️ improve ARN handling in gx keymap and WezTerm quick select
  .config/nvim/lua/config/keymaps.lua
  .config/nvim/spell/en.utf-8.add
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ skip zoom toggle when only one pane exists
  .config/wezterm/keymaps.lua
Due: stylua

feat(zsh): ✨ add Terraform push command to settings and GCloud snippet config
  .config/claude/settings.json
  .config/zeno/gcloud.yml
Due: none

perf: ⚡️ disable duplicate compinit in /etc/zshrc
  .config/nix/darwin/system.nix
Due: nix-fmt

perf: ⚡️ remove duplicate brew shellenv from /etc/zshrc
  .config/nix/darwin/system.nix
Due: nix-fmt

perf: ⚡️ skip global zsh config files with no_global_rcs
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

perf: ⚡️ defer mise hook loading with zsh-defer
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

perf: ⚡️ defer compinit with zsh-defer and skip compaudit
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

perf: ⚡️ compile .zcompdump with zcompile for faster loading
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

feat: ✨ auto-close special windows on :quit when no normal buffers remain
  .config/nvim/lua/config/autocmds.lua
Due: stylua

feat: ✨ add zeno snippets for Terraform version checking
  .config/zeno/terraform.yml
Due: none

feat(wezterm): ✨ improve pane visibility with color scheme and background
  .config/wezterm/appearance.lua
Due: stylua

feat(wezterm): ✨ adjust inactive pane saturation for improved color balance
  .config/wezterm/appearance.lua
Due: stylua

feat(wezterm): ✨ add cursor and selection color settings
  .config/wezterm/appearance.lua
Due: stylua

feat(wezterm): ✨ add semantic zone keybindings for copy mode
  .config/wezterm/keymaps.lua
Due: stylua

feat(zeno): ✨ add markdownlint config download snippet
  .config/zeno/config.yml
Due: none

feat(wezterm): ✨ add WezCapture commands and terminal color sync
  .config/nvim/lua/config/options.lua
  .config/nvim/lua/plugins/base/baleia.lua
  .config/wezterm/keymaps.lua
Due: stylua

chore(nvim): 🔧 add words to spell dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat(zeno): ✨ add terraform state resource completion
  .config/zeno/terraform.yml
Due: none

feat(wezterm): ✨ add pane height 30% keybinding in setting_mode
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ add 1-9 keys for pane height percentage in setting_mode
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ add mise to Nix packages
  .config/nix/home-manager/packages.nix
Due: nix-fmt

feat(wezterm): ✨ add Shift+1-9 keys for pane width percentage in setting_mode
  .config/wezterm/keymaps.lua
Due: stylua

fix: 🐛 add mise shims to PATH in zshenv
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

refactor(wezterm): ♻️ use WezCapture command instead of terminal mode
  .config/nvim/lua/plugins/base/baleia.lua
  .config/wezterm/keymaps.lua
Due: stylua

fix(nvim): 🐛 load vinsert after Denops ready to avoid Deno errors
  .config/nvim/lua/plugins/editor/vinsert.lua
Due: stylua

chore: 🔨 update plugin commits in nvim lazy-lock configuration file
  .config/nvim/lazy-lock.json
Due: none

feat: ✨ add IAM role snippets and fzf-based role-tags function
  .config/zeno/aws.yml
  .config/zsh/rc/functions/aws/iam-role-tags
Due: none

fix(nvim): 🐛 defer vinsert load until command execution to fix dispatcher error
  .config/nvim/lua/plugins/editor/vinsert.lua
Due: stylua

feat(nvim): ✨ add tf.nvim plugin for Terraform workflow support
  .config/nvim/lua/plugins/editor/terraform.lua
Due: stylua
