Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

feat(nvim): ✨ add rounded border to LSP hover and reduce pumblend
  .config/nvim/lua/config/options.lua
Due: stylua

feat(zeno): ✨ add gcloud config configurations list snippet
  .config/zeno/gcloud.yml
Due: none

feat(zeno): ✨ add just command completion with recipe preview
  .config/zeno/config.yml
Due: none

chore: 🔨 add new plugins and update spellcheck words in configuration
  .config/claude/settings.json
  .config/nvim/lazy-lock.json
  .config/nvim/spell/en.utf-8.add
Due: none

feat(zeno): ✨ add git log and diff snippets for branch comparison
  .config/zeno/git.yml
Due: none

chore: 🔨 add new Bash commands and update spell check entries
  .config/claude/settings.json
  .config/nvim/spell/en.utf-8.add
Due: none

feat(claude): ✨ Since secrets no longer load by default, removed from configuration
  .config/claude/settings.json
Due: none

feat(claude): ✨ add terraform-reviewer agent for Terraform code reviews and audits
  .config/claude/agents/terraform-reviewer.md
Due: none

feat(zeno): ✨ add module completion for terraform/terragrunt -target option
  .config/zeno/terraform.yml
Due: none

feat(nix): ✨ add hostSpec module and common host configuration
  .config/nix/hosts/common/default.nix
  .config/nix/modules/hostSpec.nix
Due: nix-fmt

feat(nix): ✨ update host configurations with hostSpec pattern
  .config/nix/flake.nix
  .config/nix/hosts/bourbon/default.nix
  .config/nix/hosts/geisha/default.nix
Due: nix-fmt

chore: 🔨 add "hostSpec" to the English spellcheck dictionary in Neovim
  .config/nvim/spell/en.utf-8.add
Due: none

feat(nix): ✨ add rumdl markdown linter
  .config/nix/home-manager/packages.nix
Due: nix-fmt

chore: 🔨 add local-nb/ to gitignore to exclude local notebooks
  .config/git/ignore
Due: none

chore: 🔨 add "octo" and "hostName" to Neovim spell check dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat(nix): ✨ reorganize homebrew packages by work/personal
  .config/nix/darwin/homebrew.nix
  .config/nix/hosts/common/default.nix
  .config/nix/hosts/common/homebrew-personal.nix
  .config/nix/hosts/common/homebrew-work.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

feat(zeno): ✨ use --tree option for nb completion to show folder contents
  .config/zeno/nb-config.ts
Due: none

fix(zeno): 🐛 fix nb preview script to support folder paths
  .config/zeno/nb-preview.sh
Due: none

feat: ✨ use development version of octo.nvim in disable configuration
  .config/nvim/lua/plugins/disable.lua
Due: stylua

feat(zeno): ✨ add gcloud project ID completion
  .config/zeno/gcloud.yml
Due: none

feat(zeno): ✨ add gcloud app open-console snippets and service completion
  .config/zeno/gcloud.yml
Due: none

feat(zeno): ✨ add main.tf module parsing to terraform target completion
  .config/zeno/terraform.yml
Due: none

feat(claude): ✨ add guidelines for creating meaningful Git commit messages
  .config/claude/commands/git/commit.md
  .config/claude/skills/git-commit/SKILL.md
Due: none

feat(nvim): ✨ add :CoAuthoredBy command to generate git trailer
  .config/nvim/lua/config/autocmds.lua
Due: stylua

chore: 🔨 add markdownlint and rumdl configuration for Claude commands
  .config/claude/.markdownlint.yml
  .rumdl.toml
Due: none

feat(claude): ✨ add gha-best-practices-reviewer agent
  .config/claude/agents/gha-best-practices-reviewer.md
Due: none

fix(wezterm): 🐛 add missing keybindings for workspace switching
  .config/wezterm/workspace.lua
Due: stylua

feat(claude): ✨ add documentation for agent-memory skill and usage guidelines
  .config/claude/skills/agent-memory/SKILL.md
Due: none

fix: 🐛 revert p/P to default behavior
  .config/nvim/lua/config/keymaps.lua
Due: stylua

chore: 🔧 disable markdownlint
  .config/nvim/lua/plugins/lsp/init.lua
Due: stylua

feat: ✨ add version-lsp to LazyVim
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nvim/lua/plugins/lsp/version-lsp.lua
Due: nix-fmt, stylua

fix: 🐛 handle buffer number in version-lsp root_dir
  .config/nvim/lua/plugins/lsp/version-lsp.lua
Due: stylua

feat(claude): ✨ add guidelines for using gha-best-practices-reviewer
  .config/claude/commands/review/github-actions.md
Due: none

feat(lazygit): ✨ add commit message search command
  .config/lazygit/config.yml
Due: none

chore: 🔨 update flake.lock and add 'Cognito' to spellcheck dictionary
  .config/nix/flake.lock
  .config/nvim/spell/en.utf-8.add
Due: none

refactor: ♻️ simplify version-lsp to use autocmd with vim.lsp.start
  .config/nvim/lua/plugins/lsp/version-lsp.lua
Due: stylua

feat(nix): ✨ add common tools to all hosts
  .config/nix/hosts/common/default.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

feat(nix): ✨ add plamo-translate from kawarimidoll/nur-packages
  .config/nix/flake.nix
  .config/nix/hosts/common/default.nix
Due: nix-fmt

chore: 🔨 add kawarimidoll-nur input to flake.lock configuration
  .config/nix/flake.lock
Due: none

refactor(nix): ♻️ split Homebrew packages into work-essential and personal
  .config/nix/hosts/common/homebrew-personal.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt
