Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

nix-fmt:
  run: nix fmt

stylua:
  run: stylua {staged_files}

fix: 🐛 drop invalid Write(.env*) permission deny rule
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ add GitHub Actions runner selection skill
  .config/claude/skills/github-actions-conventions/SKILL.md
Due: none

feat: ✨ strengthen GHA reviewer with static analysis and new checks
  .config/claude/agents/gha-best-practices-reviewer.md
Due: none

feat: ✨ add plugin-independent skill/agent definition review skill
  .config/claude/skills/review-claude-config/SKILL.md
  .config/claude/skills/review-claude-config/references/review-criteria.md
Due: none

fix: 🐛 align runner fallback criteria with the conventions skill
  .config/claude/agents/gha-best-practices-reviewer.md
Due: none

style: 💄 translate stray Japanese explainer to match English prompt body
  .config/claude/agents/gha-best-practices-reviewer.md
Due: none

feat: ✨ hunk diff viewer を全ホストに nix で導入
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/hosts/robusta/home.nix
Due: nix-fmt

feat: ✨ add suiko Japanese prose linter to every host via nix
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/hosts/robusta/home.nix
  .config/nix/packages/suiko.nix
Due: nix-fmt

feat: ✨ Weekly PRs で過去の週も取得できるようにする
  .config/raycast/scripts/weekly-prs.sh
Due: none

fix: 🐛 stop ignoring ZMK keyboards (roBa/Conductor) in Karabiner
  .config/karabiner/karabiner.json
Due: none

feat: add rego-writing skill
  .config/claude/skills/rego-writing/SKILL.md
Due: none

docs: add conftest reserved rule names and exemption aggregation to rego-writing
  .config/claude/skills/rego-writing/SKILL.md
Due: none

feat: ✨ enable mattpocock-skills plugin
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ run suiko on articles and GitHub issue bodies via hooks
  .config/claude/hooks/post-write-dispatch.sh
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/claude/hooks/suiko-gh-body.sh
  .config/claude/hooks/suiko-lint.sh
Due: none

fix: send hook block messages to stderr so Claude can see them
  .config/claude/hooks/pre-bash-dispatch.sh
Due: none

docs: add conftest hcl2 input pitfalls to rego-writing
  .config/claude/skills/rego-writing/SKILL.md
Due: none

feat: ✨ enable humanlayer show-me plugin
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ manage Homerow label and input-source settings via nix-darwin
  .config/nix/darwin/system.nix
Due: nix-fmt

feat: GitHub でのレンダリング事故を避ける mermaid-writing スキルを追加
  .config/claude/skills/mermaid-writing/SKILL.md
Due: none

chore: 🔧 disable CLAUDE_CODE_THRIFTY_SONIC
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ add mermaid-cli to nix packages
  .config/nix/home-manager/packages.nix
Due: nix-fmt

refactor: ♻️ attach images in pr-slide-screenshots via gh pr comment --attach
  .config/claude/skills/pr-slide-screenshots/SKILL.md
Due: none

fix: 🐛 wrap mmdc so it finds a browser on darwin
  .config/nix/flake.nix
  .config/nix/packages/mermaid-cli.nix
Due: nix-fmt

refactor: ♻️ drop the -nb option from copy-answer
  .config/claude/commands/copy-answer.md
  .config/claude/scripts/copy-answer.sh
Due: none

fix: 🐛 drop unneeded Homerow label-characters setting
  .config/nix/darwin/system.nix
Due: nix-fmt

feat: ✨ manage rtk CLI proxy and its Claude Code hook with nix
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 ship a node-callable mmdc entrypoint
  .config/nix/packages/mermaid-cli.nix
Due: nix-fmt

feat: ✨ add tech-scrap skill to turn session content into a tech scrap
  .config/claude/commands/nb-log.md
  .config/claude/skills/tech-scrap/SKILL.md
  .config/claude/skills/tech-scrap/scrap-rules.md
  .config/raycast/scripts/clipboard-to-scrap.sh
Due: none

feat: ✨ add headless-render skill
  .config/claude/skills/headless-render/SKILL.md
Due: none

feat: ✨ fold Slidev decks per slide
  .config/nvim/lua/plugins/base/ufo.lua
Due: stylua

feat: ✨ bind zi to toggle every fold open or closed
  .config/nvim/lua/plugins/base/ufo.lua
Due: stylua

docs: 📝 add steps to attach raw CDP to a responsive tab in arc-browser
  .config/claude/skills/arc-browser/SKILL.md
Due: none

docs: 📝 note where herdr worktree create puts worktrees in parallel-work
  .config/claude/rules/parallel-work.md
Due: none

docs: 📝 add commit style for new repos and PR body guidance
  .config/claude/CLAUDE.md
Due: none

chore: 🔧 update flake inputs
  .config/nix/flake.lock
Due: none

feat: ✨ add Adrafinil and its Claude Code hooks
  .config/nix/home-manager/claude-code.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

fix: 🐛 pin deno to 2.9.5 until the `--` regression is fixed
  .config/nix/flake.lock
  .config/nix/flake.nix
Due: nix-fmt

feat: ✨ enable the ponytail plugin
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

chore: 🔨 add DevOps and policy tools to Neovim spell file
  .config/nvim/spell/en.utf-8.add
Due: none

feat: ✨ add zsh-bench to all hosts
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/hosts/robusta/home.nix
  .config/nix/packages/zsh-bench.nix
Due: nix-fmt

Path conditions:
  nix-fmt: any of: *.nix and ^\.config/nix/
  stylua: any of: *.lua
