Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

nix-fmt:
  run: nix fmt

stylua:
  run: stylua {staged_files}

refactor(nix): ♻️ move raycast and hackgen fonts to common homebrew
  .config/nix/hosts/common/homebrew-personal.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

refactor(nix): ♻️ use hostSpec for dynamic user configuration
  .config/nix/darwin/system.nix
  .config/nix/home-manager/default.nix
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

feat(nix): ✨ add mocha host configuration
  .config/nix/flake.nix
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(nix): ✨ add shottr to common homebrew casks
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

chore(nix): 🔥 remove mise from packages
  .config/nix/home-manager/packages.nix
  .config/nix/hosts/common/homebrew-personal.nix
Due: nix-fmt

feat(nix): ✨ add yaskkserv2 package
  .config/nix/flake.nix
  .config/nix/packages/yaskkserv2.nix
Due: nix-fmt

feat(nix): ✨ add nodejs and go packages
  .config/nix/home-manager/packages.nix
Due: nix-fmt

chore(nvim): 🔧 switch plugins to GitHub repos
  .config/nvim/lazy-lock.json
  .config/nvim/lua/plugins/disable.lua
  .config/nvim/lua/plugins/plamo-translate.lua
Due: stylua

feat(nix): ✨ add macSKK dictionaries via home-manager
  .config/nix/home-manager/dotfiles.nix
Due: nix-fmt

feat(nix): ✨ add silent clicking trackpad setting
  .config/nix/darwin/system.nix
Due: nix-fmt

refactor(nix): ♻️ move terminal-notifier to common homebrew
  .config/nix/hosts/common/homebrew-personal.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

feat(nix): ✨ add safe-chain package
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/safe-chain.nix
Due: nix-fmt

fix(nix): 🐛 unify screenshot path to ~/Pictures/Screenshots
  .config/nix/darwin/system.nix
Due: nix-fmt

feat(nix): ✨ add Docker Desktop to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix(zsh): 🐛 only source safe-chain if installed
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

feat(nix): ✨ set screenshot to save to clipboard by default
  .config/nix/darwin/system.nix
Due: nix-fmt

feat(nix): ✨ add kiro-cli package
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/kiro.nix
Due: nix-fmt

chore: 🔧 configure claude and nb in nix home-manager
  .config/nix/home-manager/dotfiles.nix
  .nbrc
Due: nix-fmt

chore: 🔧 add claude cache and config files to gitignore
  .config/claude/settings.json
  .gitignore
Due: none

chore: 🔧 add claude plans, stats-cache, and paste-cache to gitignore
  .gitignore
Due: none

feat(nix): ✨ Add czg as a Nix package
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/czg.nix
Due: nix-fmt

chore(claude): 🔧 Add plansDirectory
  .config/claude/settings.json
Due: none

chore: 🔧 Add preview functionality to ghq get completion
  .config/zeno/git.yml
Due: none

chore: 🔧 Add plans directory in Claude code to .gitignore
  .gitignore
Due: none

feat: ✨ Dynamically generate Karabiner settings with Nix, supporting both US and JIS keyboard layouts
  .config/nix/home-manager/default.nix
  .config/nix/home-manager/dotfiles.nix
  .config/nix/home-manager/karabiner.nix
Due: nix-fmt

feat: ✨ Implemented automatic switching between Karabiner profiles
  .config/claude/tasks/65f0bb21-487a-419c-a18b-76fc2d802987/.lock
  .config/karabiner/assets/complex_modifications/1708555450.json
  .config/karabiner/assets/complex_modifications/1708556687.json
  .config/karabiner/assets/complex_modifications/1726020234.json
  .config/karabiner/assets/complex_modifications/1739763244.json
  .config/karabiner/assets/complex_modifications/karabiner-custom.json
  .config/karabiner/karabiner.json
  .config/karabiner/scripts/.profile_state
  .config/karabiner/scripts/auto-switch-profile.error.log
  .config/karabiner/scripts/auto-switch-profile.log
  .config/karabiner/scripts/auto-switch-profile.sh
  .config/nix/home-manager/karabiner.nix
Due: nix-fmt

feat: ✨ Implemented event-driven profile switching
  .config/karabiner/assets/complex_modifications/1708555450.json
  .config/karabiner/assets/complex_modifications/1708556687.json
  .config/karabiner/assets/complex_modifications/1726020234.json
  .config/karabiner/assets/complex_modifications/1739763244.json
  .config/karabiner/assets/complex_modifications/karabiner-custom.json
  .config/karabiner/karabiner.json
  .config/karabiner/scripts/.profile_state
  .config/karabiner/scripts/auto-switch-profile-v3.sh
  .config/karabiner/scripts/auto-switch-profile.error.log
  .config/karabiner/scripts/auto-switch-profile.sh
  .config/karabiner/scripts/device-config.json
  .config/nix/flake.lock
  .config/nix/home-manager/karabiner.nix
  .gitignore
Due: nix-fmt

chore: 🔧 Update Claude backup file ignore pattern to include timestamped backups
  .gitignore
Due: none

feat(wezterm): ✨ Added AWS Profile Selector functionality
  .config/wezterm/modules/aws_profile.lua
  .config/wezterm/wezterm.lua
Due: stylua

fix: 🐛 Update Karabiner settings
  .config/karabiner/assets/complex_modifications/1708555450.json
  .config/karabiner/assets/complex_modifications/1708556687.json
  .config/karabiner/assets/complex_modifications/1726020234.json
  .config/karabiner/assets/complex_modifications/1739763244.json
  .config/karabiner/assets/complex_modifications/karabiner-custom.json
  .config/karabiner/karabiner.json
  .config/karabiner/scripts/auto-switch-profile-v3.sh
  .config/karabiner/scripts/device-config.json
Due: none

chore: 🔧 Update and clean up Nix configuration
  .config/nix/home-manager/karabiner.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/kiro.nix
Due: nix-fmt

fix(nix): 🐛 skip zcompile in read-only dirs
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

chore: 🔧 Add the tasks directory of claude code to .gitignore
  .gitignore
Due: none

feat: ✨ Add GitHub Projects integration to zeno.zsh
  .config/zeno/git.yml
Due: none

feat: ✨ Add gcloud config set project pattern
  .config/zeno/gcloud.yml
Due: none

chore: 🔨 update lazy-lock.json
  .config/nvim/lazy-lock.json
Due: none

chore: 🔨 add image-cache and telemetry to .gitignore file
  .gitignore
Due: none

feat: ✨ sops-nixを使ったシークレット管理を追加
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/home-manager/default.nix
  .config/nix/home-manager/sops.nix
  .config/nix/home-manager/zsh.nix
  .config/nix/hosts/common/homebrew.nix
  .config/nix/secrets/user-secrets.yaml
  .sops.yaml
Due: nix-fmt

chore: 🔧 sops-nixの秘密鍵と復号化ファイルを.gitignoreに追加
  .gitignore
Due: none

Path conditions:
  nix-fmt: any of: *.nix and ^\.config/nix/
  stylua: any of: *.lua
