Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

feat: ✨ add granted to all hosts
  .config/nix/home-manager/packages.nix
  .config/nix/home-manager/zsh/aliases.nix
  .config/nix/hosts/robusta/home.nix
Due: nix-fmt

feat: ✨ Added profile completions and snippets to assume granted
  .config/zeno/aws.yml
Due: none

feat: ✨ Manage Cloudflare skills via plugin marketplace
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ Add official Slidev skill via plugin marketplace
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

refactor: ♻️ Rename slidev skill to slidev-theme-dev
  .config/claude/skills/slidev-theme-dev/SKILL.md
  .config/claude/skills/slidev-theme-dev/references/theme-development.md
  .config/claude/skills/slidev-theme-dev/references/vue-patterns.md
  .config/claude/skills/vue-conventions/SKILL.md
Due: none

docs: add pre-flight and zero-byte checks to pr-slide-screenshots
  .config/claude/skills/pr-slide-screenshots/SKILL.md
Due: none

feat: ✨ Added slide-overflow detection and correction skills to Slidev
  .config/claude/skills/slide-overflow/SKILL.md
Due: none

refactor: ♻️ Extend slidev-deck-conventions to include slide-overflow firing during writing
  .config/claude/skills/slide-overflow/SKILL.md
  .config/claude/skills/slidev-deck-conventions/SKILL.md
Due: none

docs: 📝 Added cases that don't resolve with `activate` to the recovery procedures for arc-browser
  .config/claude/skills/arc-browser/SKILL.md
Due: none

chore: 🔨 update flake.lock with new revisions
  .config/nix/flake.lock
Due: none

feat(npm): ✨ manage .npmrc GitHub Packages token via sops-nix
  .config/nix/home-manager/dotfiles.nix
  .config/nix/home-manager/sops.nix
  .config/nix/secrets/user-secrets.yaml
Due: nix-fmt

fix: 🐛 update nix-homebrew to unpin brew from 6.0.12
  .config/nix/flake.lock
Due: none

chore: 🔧 add read-only command allowlist to project settings
  .claude/settings.json
Due: none

chore: 🔨 update flake.nix
  .config/nix/flake.lock
  .config/nvim/spell/en.utf-8.add
Due: none

chore: 🔧 disable Claude Code auto memory
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

docs: add Terraform good/bad examples to code-comment rule
  .config/claude/rules/code-comments.md
Due: none

chore: 🔧 unpin Claude Code model
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ update user secrets encryption and metadata
  .config/nix/secrets/user-secrets.yaml
Due: none

feat: ✨ add zeno snippet to edit sops secrets
  .config/zeno/nix.yml
Due: none

feat: ✨ add crane CLI and cdk-deploy zsh wrapper script
  .config/nix/home-manager/packages.nix
  .config/zsh/rc/functions/aws/cdk-deploy
Due: nix-fmt

feat: ✨ generalize cdk-deploy notification into notify-run
  .config/zsh/rc/functions/aws/cdk-deploy
  .config/zsh/rc/functions/notify-run
Due: none

refactor: ♻️ drop cdk-deploy in favor of notify-run
  .config/zsh/rc/functions/aws/cdk-deploy
Due: none

docs: 📝 add concrete anti-examples to comment rules
  .config/claude/rules/code-comments.md
Due: none

docs: 📝 add a keep-example for cross-resource flow overviews
  .config/claude/rules/code-comments.md
Due: none

chore: relax rumdl MD013 line length to 160
  .rumdl.toml
Due: none

chore: 🔧 drop nixpkgs wezterm in favor of the cask
  .config/nix/hosts/common/default.nix
Due: nix-fmt

chore: 🔧 remove open-note skill
  .config/claude/commands/open-note.md
  .config/claude/scripts/open-note-in-wezterm.sh
  .config/claude/scripts/open-note.sh
Due: none

feat: ✨ add Raycast command to markdown-format clipboard via claude -p
  .config/raycast/scripts/clipboard-to-markdown.sh
Due: none

fix: 🐛 fall back to buffer git root for <leader>gg lazygit
  .config/nvim/lua/config/keymaps.lua
Due: stylua

feat: ✨ add Raycast command to summarize clipboard into a tech scrap
  .config/raycast/scripts/clipboard-to-scrap.sh
Due: none

fix: 🐛 force UTF-8 for pbpaste in clipboard Raycast scripts
  .config/raycast/scripts/clipboard-to-markdown.sh
  .config/raycast/scripts/clipboard-to-scrap.sh
Due: none

feat: ✨ add Raycast command to translate clipboard with vocab notes
  .config/raycast/scripts/clipboard-translate.sh
Due: none

feat: deploy user-level rumdl config via home-manager
  .config/nix/home-manager/dotfiles.nix
  .config/rumdl/rumdl.toml
Due: nix-fmt

feat: ✨ split /nb into /nb-home and /nb-log commands
  .config/claude/commands/nb-home.md
  .config/claude/commands/nb-log.md
Due: none

fix: 🐛 disable tools and skills in clipboard Raycast scripts
  .config/raycast/scripts/clipboard-to-markdown.sh
  .config/raycast/scripts/clipboard-to-scrap.sh
  .config/raycast/scripts/clipboard-translate.sh
Due: none

fix: 🐛 migrate lazygit pagers config to new diffRenderers schema
  .config/nix/home-manager/lazygit.nix
Due: nix-fmt

fix: 🐛 scope gcloud prompt to terraform/gcloud dirs in starship
  .config/starship.toml
Due: none

chore: 🔨 remove Claude agent and update flake inputs
  .config/claude/agents/nb-writer.md
  .config/nix/flake.lock
  .config/nvim/spell/en.utf-8.add
Due: none

chore: 🔧 remove claude-code from mise-managed npm packages
  .config/mise/config.toml
Due: none

feat: ✨ set Claude Code output style to Concise globally
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt
