Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

fix: 🐛 Suppress octo "Invalid buffer id" error from async load race
  .config/nvim/lua/plugins/editor/octo.lua
Due: stylua

feat: ✨ Supports PR head branches in owner:branch format for git-fork-get
  .config/zeno/scripts/git-fork-get-branch-preview.sh
  .config/zeno/scripts/git-fork-get-branches.sh
  .config/zsh/rc/functions/git/git-fork-get
Due: none

chore: 🔨 update flake.lock and switch model to claude-fable-5[1m]
  .config/nix/flake.lock
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ Added a Raycast script to copy weekly PR lists to the clipboard
  .config/raycast/scripts/weekly-prs.sh
Due: none

chore: 🔨 update flake.lock with new versions and hashes for dependencies
  .config/nix/flake.lock
Due: none

fix: 🐛 update model to claude-fable-5[1m] for compatibility issues
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ Added the /save-answer command to save the previous AI response in nb
  .config/claude/commands/save-answer.md
  .config/claude/scripts/save-answer.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 Overwrite the vendorHash in ccsession with the correct value to pass the build
  .config/nix/flake.lock
  .config/nix/flake.nix
Due: nix-fmt

feat: ✨ Added the -c option to save-answer to specify how many recent answers to save
  .config/claude/commands/save-answer.md
  .config/claude/scripts/save-answer.sh
Due: none

refactor: ♻️ Replace save-session with mechanical JSONL extraction like save-answer
  .config/claude/skills/save-session/SKILL.md
  .config/claude/skills/save-session/scripts/save-session.sh
  .config/claude/skills/save-session/scripts/session-format.jq
Due: none

chore: 🔧 nix-homebrew の taps から homebrew-core/cask を除外
  .config/nix/flake.lock
  .config/nix/flake.nix
Due: nix-fmt

docs: 📝 Update capture-session as a standalone WezTerm buffer capture tool
  .config/claude/skills/capture-session/SKILL.md
Due: none

chore: 🔨 add new plugins and update effort level to medium
  .config/claude/settings.json
Due: none

refactor: ♻️ Remove nb-log/session-exporter in favor of save-session
  .config/claude/agents/session-exporter.md
  .config/claude/commands/nb-log.md
  .config/claude/skills/markdown-session-format/SKILL.md
Due: none

feat: ✨ Add rumdl's Markdown LSP to Neovim
  .config/nvim/lua/plugins/lsp/rumdl.lua
Due: stylua

feat: ✨ Add -o option to open saved notes in a new WezTerm tab
  .config/claude/commands/save-answer.md
  .config/claude/scripts/open-note-in-wezterm.sh
  .config/claude/scripts/save-answer.sh
  .config/claude/skills/save-session/SKILL.md
  .config/claude/skills/save-session/scripts/save-session.sh
Due: none

chore: 🔧 Reduce log noise for Homebrew auto-update
  .config/nix/darwin/homebrew.nix
Due: nix-fmt

feat: ✨ Add /open-note command to open a saved note without re-saving
  .config/claude/commands/open-note.md
  .config/claude/scripts/open-note.sh
Due: none

chore: 🔧 Disable Homebrew's onActivation.cleanup hook
  .config/nix/darwin/homebrew.nix
Due: nix-fmt

chore: 🔨 add "Orchestrato" to the Neovim spell check dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

chore: 🔨 update flake.lock and downgrade model version to 4.7
  .config/nix/flake.lock
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ Add japanese-tech-writing skill for Japanese technical writing
  .config/claude/skills/japanese-tech-writing/SKILL.md
Due: none

chore(nvim): 🔧 point plamo-translate.nvim at local clone
  .config/nvim/lua/plugins/plamo-translate.lua
Due: stylua

feat: ✨ <leader>cK to translate and display LSP hover content in Japanese
  .config/nvim/lua/plugins/lsp/init.lua
Due: stylua

fix: 🐛 Make the background of the translation popup opaque
  .config/nvim/lua/plugins/plamo-translate.lua
Due: stylua

chore: 🔨 update lazy-lock.json
  .config/nvim/lazy-lock.json
Due: none

chore: 🔨 update flake.lock with new version and metadata changes
  .config/nix/flake.lock
Due: none

refactor: Deprecate the agent for stop hooks and consolidate them into shell scripts
  .config/claude/hooks/check-settings-drift.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 Make prettier/rumdl conditional calls in post-write-dispatch.sh
  .config/claude/hooks/post-write-dispatch.sh
Due: none

refactor: migrate prevent-git-push.py to hookSpecificOutput format
  .config/claude/hooks/prevent-git-push.py
Due: none

feat: ✨ Integrate the status from Claude agents --json into the session list for <leader>c
  .config/wezterm/modules/claude_session.lua
Due: stylua

revert: ⏪ Restore the agent of the Stop hook to automatic correction operation
  .config/claude/hooks/check-settings-drift.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ Display ai-title and recent prompt history in c preview
  .config/nix/flake.lock
  .config/nix/home-manager/packages.nix
  .config/wezterm/modules/claude_session.lua
  .config/wezterm/scripts/preview_claude_session.lua
Due: nix-fmt, stylua

fix: 🐛 Automatically resize translation hover popups based on content
  .config/nvim/lua/plugins/lsp/init.lua
Due: stylua

refactor: ♻️ switch from plamo-translate's built-in opaque popup to fit_content
  .config/nvim/lua/plugins/lsp/init.lua
  .config/nvim/lua/plugins/plamo-translate.lua
Due: stylua

feat: ✨ Detect scope usage and inject recent commit examples
  .config/claude/hooks/detect-commit-style.sh
Due: none

feat: ✨ Block git commits whose subject violates the detected style
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/claude/hooks/validate-commit-style.py
Due: none

fix: 🐛 Detect body language by majority ratio, not single occurrence
  .config/claude/hooks/detect-commit-style.sh
Due: none

feat: ✨ Validate commit body language and refine subject error hints
  .config/claude/hooks/.gitignore
  .config/claude/hooks/validate-commit-style.py
Due: none

fix: 🐛 Actually run the commit-style validator (was silently skipped)
  .config/claude/hooks/detect-commit-style.sh
  .config/claude/hooks/pre-bash-dispatch.sh
Due: none
