Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

feat: ✨ add ccplan as a Nix-managed package for mocha host
  .config/nix/flake.nix
  .config/nix/hosts/mocha/default.nix
  .config/nix/packages/ccplan.nix
Due: nix-fmt

perf: ⚡️ Improved battery life by synchronizing WezTerm's blur effect with focus changes
  .config/wezterm/modules/opacity.lua
  .config/wezterm/wezterm.lua
Due: stylua

perf: ⚡️ Reduce CPU usage for the update-status handler
  .config/wezterm/modules/claude_session.lua
  .config/wezterm/tab.lua
Due: stylua

feat: ✨ add :OctoProject command to browse project issues via Snacks.picker
  .config/nvim/lua/plugins/editor/octo-project-search.lua
Due: stylua

feat: ✨ add ccplan zsh completion with zsh-defer
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

chore: 🔧 bump ccplan from 0.1.3 to 0.2.0
  .config/nix/home-manager/zsh.nix
  .config/nix/packages/ccplan.nix
Due: nix-fmt

chore: 🔨 add policy limits for remote control restrictions in JSON
  .config/claude/policy-limits.json
Due: none

feat(nix): ✨ add pup as a Nix-managed package for mocha host
  .config/nix/flake.nix
  .config/nix/hosts/mocha/default.nix
  .config/nix/packages/pup.nix
Due: nix-fmt

chore: 🔨 add "Takumi" and "EngineerTalk" to spell check dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat(zsh): ✨ update GitHub snippets for project issue searching functionality
  .config/zeno/git.yml
Due: none

feat(claude): ✨ add symbolic links for Datadog skills and update spell list
  .config/claude/skills/dd-apm
  .config/claude/skills/dd-docs
  .config/claude/skills/dd-logs
  .config/claude/skills/dd-monitors
  .config/claude/skills/dd-pup
  .config/nvim/spell/en.utf-8.add
Due: none

feat(nix): ✨ add cmux to mocha host packages
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

chore(claude): 🔨 add PR draft guidelines following the template instructions
  .config/claude/commands/pr-draft.md
Due: none

fix(claude): 🐛 Output Terraform hook errors in plain text to ensure Claude can't ignore them
  .config/claude/scripts/terraform-post-hook.py
Due: none

feat(earospace): ✨ enable alt-tab for workspace navigation in the config file
  .config/aerospace/aerospace.toml
Due: none

chore: 🔨 add "APM" to the English spell check dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat(nix): ✨ add google-cloud-sdk to mocha host packages
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix(claude): 🐛 refactor hook output format to include specific output details
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/claude/scripts/terraform-hook.py
Due: none

feat(nix): ✨ add nushell to mocha host packages
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(aerospace): ✨ add multi-monitor focus and window move keybindings
  .config/aerospace/aerospace.toml
Due: none

feat(wezterm): ✨ add yazi to command palette and launcher
  .config/wezterm/keymaps.lua
Due: stylua

fix(wezterm): 🐛 Corrected issue where SUPER+v paste in CopyMode was entering the search field
  .config/wezterm/keymaps.lua
Due: stylua

feat(nix): ✨ Add gws to mocha host package
  .config/nix/flake.lock
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix(nix): 🐛 Update hash for kiro-cli
  .config/nix/packages/kiro.nix
Due: nix-fmt

fix(nix): 🐛 Modified gws to retrieve from flake inputs
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix(yazi): 🐛 remove explicit [plugin] section to restore preview
  .config/yazi/yazi.toml
Due: none

chore: 🔨 update lazy-lock.json with new commit hashes for plugins
  .config/nvim/lazy-lock.json
Due: none

feat(yazi): ✨ add smart-paste plugin for context-aware pasting
  .config/yazi/keymap.toml
  .config/yazi/package.toml
  .config/yazi/plugins/smart-paste.yazi/LICENSE
  .config/yazi/plugins/smart-paste.yazi/README.md
  .config/yazi/plugins/smart-paste.yazi/main.lua
Due: stylua

feat(aerospace): ✨ update workspace command for Slack to use workspace 3
  .config/aerospace/aerospace.toml
Due: none

feat(nvim): ✨ add markdown outline picker with <leader>mo
  .config/nvim/lua/config/autocmds.lua
Due: stylua

chore(nvim): 🔧 add allowlist words to spell dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

refactor(nvim): ♻️ switch markdown outline to treesitter query
  .config/nvim/lua/config/autocmds.lua
Due: stylua

feat(nix): ✨ add agent-browser to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(nix): ✨ add vpnutil to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(nix): ✨ disable Spotlight Cmd+Space shortcut via nix-darwin
  .config/nix/darwin/system.nix
Due: nix-fmt

feat(nix): ✨ add glab to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(wezterm): ✨ add SSH hosts edit command to palette
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ exclude prompt directory from QuickSelect
  .config/wezterm/wezterm.lua
Due: stylua
