Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

chore(cladue): 🔧 Add terraform Docker execution routing hook scripts
  .config/claude/scripts/terraform-runner.sh
Due: none

feat(claude): ✨ Implemented a PreToolUse hook to block automatic git push executionr
  .config/claude/hooks/prevent-git-push.py
  .config/claude/settings.json
Due: none

feat: ✨ terraform/terragrunt の apply コマンドをブロックするPreToolUse hookを追加
  .config/claude/hooks/prevent-terraform-apply.py
  .config/claude/settings.json
Due: none

feat(claude): ✨ Added "Launch: zsh" to the Command Palette for quick zsh launch in an overlay pane.
  .config/wezterm/keymaps.lua
Due: stylua

fix(claude): 🐛 Protect quoted content during command splitting in hooks
  .config/claude/hooks/prevent-git-push.py
  .config/claude/hooks/prevent-terraform-apply.py
Due: none

fix: 🐛 Improved path resolution and command detection in terraform-runner
  .config/claude/scripts/terraform-runner.sh
Due: none

chore: 🔨 update PR template instructions for clarity and detail
  .config/claude/commands/pr-terraform.md
Due: none

fix(claude): 🐛 skip execution for nested docker compose exec commands
  .config/claude/scripts/terraform-runner.sh
Due: none

chore: 🔨 add Claude backups directory to .gitignore file
  .gitignore
Due: none

fix(nvim): 🐛 disable swap files for octo:// buffers to prevent E325
  .config/nvim/lua/config/autocmds.lua
  .config/nvim/lua/plugins/editor/octo.lua
Due: stylua

feat(zeno): ✨ add gcloud secret snippet and fzf completion
  .config/zeno/gcloud.yml
Due: none

feat(wezterm): ✨ add running/waiting/idle status icons to Claude session selector
  .config/wezterm/modules/claude_session.lua
  .config/wezterm/scripts/preview_claude_session.lua
Due: stylua

feat(wezterm): ✨ add real-time status refresh to Claude session selector
  .config/wezterm/modules/claude_session.lua
Due: stylua

feat(wezterm): ✨ add Karabiner profile selector to command palette
  .config/wezterm/keymaps.lua
  .config/wezterm/modules/karabiner_profile.lua
  .config/wezterm/wezterm.lua
Due: stylua

feat(nvim): ✨ map p/P to paste from system clipboard
  .config/nvim/lua/config/keymaps.lua
Due: stylua

feat(wezterm): ✨ add caffeinate control to command palette
  .config/wezterm/keymaps.lua
  .config/wezterm/modules/caffeinate.lua
Due: stylua

feat: ✨ comment out the Super+Q keybinding for quitting the app
  .config/wezterm/keymaps.lua
Due: stylua

fix(nvim): 🐛 replace blocking system calls with vim.system + timeout
  .config/nvim/lua/config/autocmds.lua
  .config/nvim/lua/config/keymaps.lua
  .config/nvim/lua/config/nb.lua
  .config/nvim/lua/plugins/base/baleia.lua
  .config/nvim/lua/plugins/editor/octo-project-search.lua
Due: stylua

fix(nvim): 🐛 reduce CursorHold frequency and defer avante startup
  .config/nvim/lua/plugins/base/snacks.lua
  .config/nvim/lua/plugins/editor/avante.lua
Due: stylua

chore: 🔨 remove obsolete Terraform commands from settings configuration
  .config/claude/settings.json
Due: none

refactor: ♻️ consolidate PreToolUse hooks into single dispatcher
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/claude/settings.json
Due: none

feat: ✨ Block terraform state push via hooks
  .config/claude/hooks/prevent-terraform-apply.py
  .config/claude/settings.json
Due: none

refactor: ♻️ Rename prevent-terraform-apply.py to block-terraform-dangerous.py
  .config/claude/hooks/block-terraform-dangerous.py
  .config/claude/hooks/pre-bash-dispatch.sh
Due: none

feat: ✨ Add terraform destroy to the block list
  .config/claude/hooks/block-terraform-dangerous.py
Due: none

refactor: ♻️ merged block-terraform-dangerous.py and terraform-runner.sh into terraform-hook.py
  .config/claude/hooks/block-terraform-dangerous.py
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/claude/scripts/terraform-hook.py
  .config/claude/scripts/terraform-runner.sh
Due: none

refactor: ♻️ Organize terraform-hook.py
  .config/claude/scripts/terraform-hook.py
Due: none

feat: ✨ Automatically change Docker routing in terraform-hook to automatic
  .config/claude/scripts/terraform-hook.py
Due: none

feat: ✨ Added a PostToolUse hook that automatically runs fmt / validate after editing terraform files
  .config/claude/scripts/terraform-post-hook.py
  .config/claude/settings.json
Due: none

refactor: ♻️ consolidate PostToolUse hooks into single dispatcher
  .config/claude/hooks/post-write-dispatch.sh
  .config/claude/settings.json
Due: none

fix: 🐛 When compose.yaml is present, also execute plan/validate/fmt within the container
  .config/claude/scripts/terraform-hook.py
Due: none

fix: 🐛 Corrected a bug where aws-wrapper was performing SSO login using AWS_PROFILE instead of accepting the --profile argument
  .config/zsh/rc/functions/aws-wrapper
Due: none

feat: ✨ Add Claude Code to WezTerm command palette
  .config/wezterm/keymaps.lua
Due: stylua

fix: 🐛 restore paste from default register
  .config/nvim/lua/config/keymaps.lua
Due: stylua

feat: ✨ set "Mac Built-in (US)" as the selected keyboard layout
  .config/karabiner/karabiner.json
Due: none

fix: 🐛 source_profile 経由の assume-role プロファイルで SSO ログインできない問題を修正
  .config/zsh/rc/functions/aws/set-aws-profile
Due: none

feat: ✨ add Claude Code snippet for keyword 'c' in config.yml
  .config/zeno/config.yml
Due: none

feat: ✨ add gh browse to WezTerm command palette
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ add nvim ~/.aws/config to WezTerm command palette
  .config/wezterm/keymaps.lua
Due: stylua

chore: 🔨 add "AssumeRole" to Neovim spell check dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat: ✨ add gogcli as a Nix-managed package for all hosts
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/gogcli.nix
Due: nix-fmt
