Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

nix-fmt:
  run: nix fmt

stylua:
  run: stylua {staged_files}

feat: ✨ Add /copy-answer slash command to copy last answer to clipboard
  .config/claude/commands/copy-answer.md
  .config/claude/scripts/copy-answer.sh
Due: none

fix: 🐛 Rename yazi config keys for v25 compatibility
  .config/yazi/keymap.toml
  .config/yazi/theme.toml
  .config/yazi/yazi.toml
Due: none

refactor: ♻️ Remove focus-linked background opacity toggle
  .config/wezterm/modules/opacity.lua
Due: stylua

chore: 🔧 Remove redundant git ps/pl aliases
  .gitconfig
Due: none

feat: ✨ Use virtual display for plamo-translate by default
  .config/nvim/lua/plugins/plamo-translate.lua
Due: stylua

feat: ✨ set TUI mode to fullscreen in home-manager configuration
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

chore: 🔨 update flake.lock with new revisions and metadata hashes
  .config/nix/flake.lock
Due: none

feat: ✨ remove keycastr from personal Homebrew configuration
  .config/nix/hosts/common/homebrew-personal.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

feat: ✨ add code-comments rule and link claude rules directory
  .config/claude/rules/code-comments.md
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 remove obsolete model configuration from Claude setup
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ install herdr via Homebrew
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

docs: 📝 forbid comments referencing deprecated mechanisms
  .config/claude/rules/code-comments.md
Due: none

feat: ✨ add volume control and Raycast toggle for Claude Code notification sound
  .config/claude/scripts/notify.sh
  .config/nix/home-manager/claude-code.nix
  .config/raycast/scripts/claude-notify-toggle.sh
  .config/raycast/scripts/claude-notify-volume.sh
Due: nix-fmt

feat: ✨ show current mute state in Raycast list for notification sound toggle
  .config/raycast/scripts/claude-notify-toggle.sh
Due: none

refactor: ♻️ merge notification sound toggle and volume into one Raycast command
  .config/raycast/scripts/claude-notify-toggle.sh
  .config/raycast/scripts/claude-notify-volume.sh
  .config/raycast/scripts/claude-notify.sh
Due: none

feat: ✨ add default herdr config
  .config/herdr/config.toml
Due: none

refactor: ♻️ stop storing notification sound state in the tracked Raycast script
  .config/claude/scripts/claude-notify-ctl.sh
  .config/raycast/scripts/claude-notify.sh
  .gitignore
Due: none

feat: ✨ manage herdr config.toml via home-manager
  .config/nix/home-manager/dotfiles.nix
Due: nix-fmt

chore: 🔧 enable herdr onboarding flag
  .config/herdr/config.toml
Due: none

fix: 🐛 remove ctrl+b to left-arrow remapping blocking the herdr prefix key
  .config/karabiner/karabiner.json
Due: none

feat: ✨ set herdr prefix to ctrl+q
  .config/herdr/config.toml
Due: none

feat: ✨ change WezTerm leader from ctrl+q to ctrl+;
  .config/wezterm/keymaps.lua
Due: stylua

chore: 🔨 add "herdr" to the Neovim English spell file
  .config/nvim/spell/en.utf-8.add
Due: none

feat: ✨ commit and sync nb notes on buffer close
  .config/nvim/lua/config/autocmds.lua
  .config/nvim/lua/config/nb.lua
Due: stylua

refactor: ♻️ extract nb integration into reusable lua/nb module
  .config/nvim/lua/config/autocmds.lua
  .config/nvim/lua/config/plans.lua
  .config/nvim/lua/nb/autosync.lua
  .config/nvim/lua/nb/config.lua
  .config/nvim/lua/nb/core.lua
  .config/nvim/lua/nb/init.lua
  .config/nvim/lua/nb/ui.lua
  .config/nvim/lua/plugins/base/nb.lua
  .config/nvim/lua/plugins/base/snacks.lua
  .config/nvim/lua/plugins/ui/bufferline.lua
Due: stylua

refactor: ♻️ load nb integration from the extracted nb.nvim plugin
  .config/nvim/lua/nb/autosync.lua
  .config/nvim/lua/nb/config.lua
  .config/nvim/lua/nb/core.lua
  .config/nvim/lua/nb/init.lua
  .config/nvim/lua/nb/ui.lua
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

feat: ✨ add herdr agent integration for Claude Code
  .config/claude/hooks/herdr-agent-state.sh
  .config/herdr/config.toml
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ bind ctrl+q to send the herdr prefix byte directly
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ release alt-q from AeroSpace for the macSKK hankaku-kana toggle
  .config/aerospace/aerospace.toml
Due: none

chore: 🔧 Apply results from herdr onboarding execution
  .config/herdr/config.toml
Due: none

fix: 🐛 silence man-db MANPATH warning on zsh startup
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

feat: ✨ Enable reloading herdr settings from the command palette
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ Add emacs-style C-b/C-f cursor movement in insert mode
  .config/nvim/lua/config/keymaps.lua
Due: stylua

feat: ✨ update Herdr config for theme, shell settings, and key bindings
  .config/herdr/config.toml
Due: none

feat: ✨ add prefix+y to copy the last command output in herdr
  .config/herdr/bin/herdr-copy-last-output
  .config/herdr/config.toml
Due: none

feat: ✨ forward cmd+ctrl+n/p to herdr as kitty CSI-u sequences
  .config/wezterm/workspace.lua
Due: stylua

fix: 🐛 re-wrap PS1 with OSC 133 markers when starship rebuilds it
  .config/zsh/rc/pluginconfig/wezterm.zsh
Due: none

feat: ✨ enable workspace keybindings in herdr
  .config/herdr/config.toml
Due: none

feat: ✨ adjust herdr prefix keybindings
  .config/herdr/config.toml
Due: none

feat: ✨ release cmd+ctrl+n/p from WezTerm workspace switching
  .config/wezterm/workspace.lua
Due: stylua

Path conditions:
  nix-fmt: any of: *.nix and ^\.config/nix/
  stylua: any of: *.lua
