Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

chore(nvim): 🔧 add allowlist words to spell dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat(nix): ✨ add OpenAI Codex CLI to home-manager packages list
  .config/nix/home-manager/packages.nix
Due: nix-fmt

feat(nix): ✨ switch codex to llm-agents.nix
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
Due: nix-fmt

feat(nix): ✨ add nb to home-manager packages
  .config/nix/home-manager/packages.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

chore(aerospace): 🔧 monitor focus/move キーバインドを cmd ベースに変更
  .config/aerospace/aerospace.toml
Due: none

chore: 🔨 add session files to the .gitignore for Claude configuration
  .gitignore
Due: none

refactor(nix): ♻️ Nix modularization of lazygit configuration
  .config/lazygit/config.yml
  .config/nix/home-manager/default.nix
  .config/nix/home-manager/dotfiles.nix
  .config/nix/home-manager/lazygit.nix
  .config/nix/home-manager/packages.nix
Due: nix-fmt

feat(lazygit): ✨ Added configuration option to have Claude Code generate messages
  .config/nix/home-manager/lazygit.nix
Due: nix-fmt

refactor: ♻️ Fix key bindings for system clipboard paste
  .config/nvim/lua/config/keymaps.lua
Due: stylua

feat(wezterm): ✨ add CTRL+: key binding for pane selection in wezterm config
  .config/wezterm/keymaps.lua
Due: stylua

refactor(wezterm): ♻️ rebind Ctrl+C to Ctrl+Shift+C for pane maximization
  .config/wezterm/keymaps.lua
Due: stylua

fix(wezterm): ✨ add Ctrl+Shift+C to minimize current pane to 1 row
  .config/wezterm/keymaps.lua
Due: stylua

fix(wezterm): 🐛 inject pane label after resize completes
  .config/wezterm/keymaps.lua
Due: stylua

fix(wezterm): 🐛 use pane title for minimize label to show Claude Code session info
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ Added functionality to toggle between minimized and 50% restored states
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ restore pane to original height on Ctrl+Shift+C toggle
  .config/wezterm/keymaps.lua
Due: stylua

feat(nix): ✨ manage codex config via Home Manager
  .config/nix/home-manager/codex.nix
  .config/nix/home-manager/default.nix
Due: nix-fmt

chore(nvim): 🔧 add openai and PaneSelect to spell dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

refactor(nix): ♻️ consolidate codex installation into codex.nix
  .config/nix/home-manager/codex.nix
  .config/nix/home-manager/packages.nix
Due: nix-fmt

chore(nix): 🔧 enable voice transcription in codex config
  .config/nix/home-manager/codex.nix
Due: nix-fmt

chore(nix): 🔧 enable realtime conversation in codex config
  .config/nix/home-manager/codex.nix
Due: nix-fmt

feat(nix): ✨ add drawio to the list of productivity applications in homebrew
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

feat(claude): ✨ add drawio skill for generating diagrams
  .config/claude/skills/drawio/SKILL.md
Due: none

feat(nvim): ✨ make p paste from unnamed register and sync external clipboard
  .config/nvim/lua/config/autocmds.lua
  .config/nvim/lua/config/keymaps.lua
  .config/nvim/spell/en.utf-8.add
Due: stylua

chore(lazygit): 🔧 untrack config.yml symlink managed by Nix
  .config/lazygit/config.yml
Due: none

fix(nvim): 🐛 disable backtick autopair in markdown buffers
  .config/nvim/lua/config/autocmds.lua
Due: stylua

feat: ✨ terraform post hookにtflintを追加
  .config/claude/scripts/terraform-post-hook.py
Due: none

chore(nvim): 🔧 update lazy-lock.json
  .config/nvim/lazy-lock.json
Due: none

feat(nvim): ✨ add <leader>cD for translated LSP diagnostics
  .config/nvim/lua/plugins/lsp/init.lua
Due: stylua

feat(claude): ✨ add PreToolUse hook to block deprecated hashicorp/template provider
  .config/claude/hooks/prevent-deprecated-tf-providers.sh
  .config/claude/settings.json
Due: none

feat(claude): ✨ add PostToolUse hook to detect outdated Terraform provider versions
  .config/claude/hooks/check-tf-provider-versions.sh
  .config/claude/settings.json
Due: none

feat(codex): ✨ add Codex prompt stash feature via WezTerm + Neovim
  .config/nvim/lua/config/keymaps.lua
  .config/wezterm/keymaps.lua
Due: stylua

feat(claude): ✨ auto-update provider version constraints using tfupdate
  .config/claude/hooks/check-tf-provider-versions.sh
  .config/nix/home-manager/packages.nix
Due: nix-fmt

feat(nix): ✨ add MonitorControl via Homebrew cask
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

fix(codex): 🐛 suppress unstable features warning correctly
  .config/nix/home-manager/codex.nix
Due: nix-fmt

feat(nix): ✨ add 1Password to mocha
  .config/nix/hosts/mocha/default.nix
  .config/nvim/spell/en.utf-8.add
Due: nix-fmt

feat(codex): ✨ enable codex_git_commit feature
  .config/nix/home-manager/codex.nix
Due: nix-fmt

feat(codex): ✨ enable codex_hooks feature
  .config/nix/home-manager/codex.nix
Due: nix-fmt

feat(codex): ✨ add test hooks for session lifecycle
  .config/nix/home-manager/codex.nix
Due: nix-fmt
