Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

feat: ✨ add read-only command patterns to permissions.allow
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ set default permission mode to auto
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ stop asking for git commit and gh pr/issue create
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ allow all Playwright MCP tools
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

refactor: ♻️ delegate nb link jump to nb.nvim follow_link
  .config/nvim/lua/config/autocmds.lua
Due: stylua

feat: ✨ refactor theme settings and enable worktree key bindings
  .config/herdr/config.toml
Due: none

fix: 🐛 remove unmodified Escape binding so macSKK receives Esc for cancel
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ allow Ctrl+[ to leave workspace mode like the other key tables
  .config/wezterm/workspace.lua
Due: stylua

refactor: ♻️ extract shared color palette into colors.lua
  .config/wezterm/appearance.lua
  .config/wezterm/colors.lua
  .config/wezterm/statusbar.lua
Due: stylua

chore: 🔧 remove disabled aws_profile and claude_session modules
  .config/herdr/config.toml
  .config/wezterm/modules/aws_profile.lua
  .config/wezterm/modules/claude_session.lua
  .config/wezterm/scripts/preview_claude_session.lua
  .config/wezterm/wezterm.lua
Due: stylua

fix: 🐛 track injected cursor color per pane instead of globally
  .config/wezterm/statusbar.lua
Due: stylua

refactor: ♻️ remove unreachable workspace-switching code
  .config/wezterm/workspace.lua
Due: stylua

fix: 🐛 reduce false matches in QuickSelect patterns
  .config/wezterm/wezterm.lua
Due: stylua

refactor: ♻️ add accent_fg, nb and highlight to the shared palette
  .config/wezterm/appearance.lua
  .config/wezterm/colors.lua
Due: stylua

refactor: ♻️ extract shared module helpers into modules/util.lua
  .config/wezterm/modules/karabiner_profile.lua
  .config/wezterm/modules/translate.lua
  .config/wezterm/modules/util.lua
Due: stylua

refactor: ♻️ split keymaps.lua into focused submodules
  .config/wezterm/keymaps.lua
  .config/wezterm/keymaps/command_palette.lua
  .config/wezterm/keymaps/key_tables.lua
  .config/wezterm/keymaps/overlay.lua
  .config/wezterm/keymaps/pane_resize.lua
  .config/wezterm/tab.lua
Due: stylua

feat: ✨ update zoom key binding to use ctrl+shift+z and leader mod
  .config/herdr/config.toml
  .config/wezterm/keymaps.lua
Due: stylua

fix: 🐛 replace removed builtin theme name so Ghostty can launch
  .config/ghostty/color.conf
Due: none

fix: 🐛 repair tab detection logic and stop leaking per-pane caches
  .config/wezterm/tab.lua
Due: stylua

refactor: ♻️ unify workspace toggles into a generic factory
  .config/wezterm/workspace.lua
Due: stylua

feat: ✨ add beginner-friendly simple tab bar config and enable it
  .config/wezterm/examples/tab_simple.lua
  .config/wezterm/wezterm.lua
Due: stylua

refactor: ♻️ move tab bar settings from appearance.lua into tab modules
  .config/wezterm/appearance.lua
  .config/wezterm/tab.lua
Due: stylua

feat: ✨ add appearance-only Ghostty config and load it temporarily
  .config/ghostty/config
  .config/ghostty/examples/appearance-simple.conf
Due: none

feat: ✨ float Ghostty windows automatically in AeroSpace
  .config/aerospace/aerospace.toml
Due: none

feat: ✨ add alt-shift-space to toggle floating layout
  .config/aerospace/aerospace.toml
Due: none

fix: 🐛 fetch pane user_vars via get_user_vars() in update-status
  .config/wezterm/tab.lua
Due: stylua

fix: 🐛 guard against nil tab in rename prompt callback
  .config/wezterm/tab.lua
Due: stylua

refactor: ♻️ remove unused overlay import from wezterm keymaps configuration
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ show Go and ArgoCD icons in wezterm tabs
  .config/wezterm/tab.lua
Due: stylua

feat: ✨ redesign example tab bar with random icons and flame dividers
  .config/wezterm/examples/tab_simple.lua
Due: stylua

feat: ✨ join workspace name and first tab with a ">" shaped divider
  .config/wezterm/statusbar.lua
Due: stylua

fix: 🐛 Limit subagent delegation instructions to reading tasks only
  .config/claude/CLAUDE.md
Due: none

feat: ✨ scope Claude Code OTel telemetry to Findy repos on mocha
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 use portable path for SSH signing key
  .gitconfig
Due: none

feat: ✨ Add CDK best practices conventions skill cdk-conventions
  .config/claude/skills/cdk-conventions/SKILL.md
Due: none

chore: 🔧 update Claude Code OTel settings for new Findy AI+ endpoint
  .config/nix/secrets/user-secrets.yaml
Due: none

fix: 🐛 gh credential helper を home-manager で管理する
  .config/nix/home-manager/gh.nix
  .gitconfig
Due: nix-fmt

feat: ✨ manage just via nix instead of mise
  .config/nix/home-manager/packages.nix
Due: nix-fmt

chore: 🔧 update flake and nvim plugin locks
  .config/nix/flake.lock
  .config/nvim/lazy-lock.json
Due: none

chore: 🔧 disable tap trust check in darwin-rebuild
  .config/nix/darwin/homebrew.nix
Due: nix-fmt
