Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

nix-fmt:
  run: nix fmt

stylua:
  run: stylua {staged_files}

feat(zeno): ✨ add op (1Password CLI) snippets and completions
  .config/zeno/op.yml
Due: none

feat(nix): ✨ Add grafanactl to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(claude): ✨ add Slack plugin to the enabled plugins list in Nix config
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(nix): ✨ manage gh extensions declaratively with home-manager
  .config/nix/home-manager/default.nix
  .config/nix/home-manager/gh.nix
Due: nix-fmt

feat: ✨ add Discord to the list of installed applications in Nix config
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(git): ✨ introduce mergiraf as syntax-aware merge driver
  .config/git/attributes
  .config/nix/home-manager/packages.nix
  .gitconfig
Due: nix-fmt

feat(nix): ✨ Enable trackpad tap-to-drag and maximize its speed
  .config/nix/darwin/system.nix
Due: nix-fmt

chore: 🔨 add new spellings for project-specific terms in Neovim
  .config/nvim/spell/en.utf-8.add
Due: none

feat(claude): ✨ add skipAutoPermissionPrompt to Claude code configuration
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ add new Homebrew taps and casks for enhanced functionality
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix(aws): 🐛 prevent double browser open when switching SSO profile
  .config/zsh/rc/functions/aws/set-aws-profile
Due: none

feat(nix): ✨ add open-policy-agent to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix(nix): 🐛 disable open-policy-agent tests to bypass upstream breakage
  .config/nix/flake.nix
Due: nix-fmt

perf(nvim): ⚡️ run nb picker list calls in parallel
  .config/nvim/lua/config/nb.lua
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

feat(nix): ✨ add grafana/gcx to mocha host
  .config/nix/flake.nix
  .config/nix/hosts/mocha/default.nix
  .config/nix/packages/gcx.nix
Due: nix-fmt

perf(nvim): ⚡️ replace nb list shellouts with direct filesystem walk
  .config/nvim/lua/config/nb.lua
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

chore(nix): 🔧 remove grafanactl from mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(nix): ✨ auto-install gcx Agent Skills on mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

perf(nvim): ⚡️ skip nb show --path after note creation
  .config/nvim/lua/config/nb.lua
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

feat(nvim): ✨ resolve nb note titles from frontmatter for bufferline
  .config/nvim/lua/config/nb.lua
Due: stylua

perf(nvim): ⚡️ create new nb notes natively instead of nb add
  .config/nvim/lua/config/nb.lua
Due: stylua

feat(zsh): ✨ support non-SSO profiles in awsp
  .config/zsh/rc/functions/aws/set-aws-profile
Due: none

perf(nvim): ⚡️ delete and move nb notes natively instead of nb CLI
  .config/nvim/lua/config/nb.lua
Due: stylua

feat(nvim): ✨ sort nb picker items by mtime descending
  .config/nvim/lua/config/nb.lua
Due: stylua

feat(claude-code): ✨ enable aws-core and aws-data-analytics plugins
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(nvim): ✨ add clipboard import, plans picker, and buffer adopt to nb
  .config/nvim/lua/config/nb.lua
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

refactor(nvim): ♻️ remap nb adopt to <leader>nM
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

feat(claude-code): ✨ add Findy AI+ MCP server via sops
  .config/nix/home-manager/claude-code.nix
  .config/nix/home-manager/sops.nix
  .config/nix/secrets/user-secrets.yaml
Due: nix-fmt

fix(claude-code): 🐛 inject MCP servers into ~/.claude.json instead of settings.json
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix(claude-code): 🐛 inject MCP servers into user scope ~/.config/claude/.claude.json
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(claude-code): ✨ enable Co-Authored-By Claude trailer for Findy AI+ tracking
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(claude-code): ✨ wire up Findy AI+ Prompt & Session Log via sops-managed OTel env
  .config/nix/home-manager/claude-code.nix
  .config/nix/home-manager/sops.nix
  .config/nix/secrets/user-secrets.yaml
Due: nix-fmt

fix(zsh): 🐛 use --clone=false and pre-check fork existence in git-fork-get
  .config/zsh/rc/functions/git/git-fork-get
Due: none

chore: 🔨 refactor plugin configuration and disable unused options
  .config/nvim/lua/plugins/disable.lua
  .config/nvim/lua/plugins/editor/avante.lua
Due: stylua

feat(zsh): ✨ add --sync flag and fix prompt visibility in git-fork-get
  .config/zsh/rc/functions/git/git-fork-get
Due: none

chore(nvim): 🔧 disable LSP inlay hints by default
  .config/nvim/lua/plugins/lsp/init.lua
Due: stylua

feat(nvim): ✨ add auto-save.nvim with InsertLeave/FocusLost triggers
  .config/nvim/lazy-lock.json
  .config/nvim/lua/plugins/editor/auto-save.lua
Due: stylua

feat(claude-code): ✨ enable codex@openai-codex plugin from marketplace
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(nvim): ✨ add sniprun.nvim for running TS/JS snippets
  .config/nix/home-manager/packages.nix
  .config/nvim/lazy-lock.json
  .config/nvim/lua/plugins/editor/sniprun.lua
Due: nix-fmt, stylua

fix(nvim): 🐛 follow LazyVim rename of biome extras to lang.typescript.biome
  .config/nvim/lua/config/lazy.lua
Due: stylua

Path conditions:
  nix-fmt: any of: *.nix and ^\.config/nix/
  stylua: any of: *.lua
