Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

nix-fmt:
  run: nix fmt

stylua:
  run: stylua {staged_files}

refactor(nvim): ♻️ switch sniprun display from TerminalWithCode to TempFloatingWindow
  .config/nvim/lua/plugins/editor/sniprun.lua
Due: stylua

feat(raycast): ✨ add Today's Calendar script via icalBuddy
  .config/nix/home-manager/dotfiles.nix
  .config/nix/hosts/common/homebrew.nix
  .config/raycast/scripts/today-calendar.sh
Due: nix-fmt

refactor(raycast): ♻️ manage today-calendar conf via sops-nix with host switching
  .config/nix/home-manager/sops.nix
  .config/nix/secrets/user-secrets.yaml
Due: nix-fmt

docs(raycast): 📝 add setup guide for Today's Calendar script
  README.md
  docs/raycast-today-suite.md
Due: none

feat(raycast): ✨ add Today's GitHub and Summary scripts with NO_PBCOPY support
  .config/raycast/scripts/today-calendar.sh
  .config/raycast/scripts/today-github.sh
  .config/raycast/scripts/today-summary.sh
Due: none

fix(raycast): 🐛 prepend nix profile to PATH so today-github can find gh under Raycast
  .config/raycast/scripts/today-github.sh
  .config/raycast/scripts/today-summary.sh
  docs/raycast-today-suite.md
Due: none

feat: ✨ add Notion CLI package definition and include in home config
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/home-manager/zsh.nix
  .config/nix/packages/ntn.nix
Due: nix-fmt

chore(nvim): 🔧 update lazy-lock.json plugin pins
  .config/nvim/lazy-lock.json
Due: none

feat(nvim): ✨ render octo buffers with render-markdown
  .config/nvim/lua/plugins/editor/avante.lua
  .config/nvim/lua/plugins/editor/octo.lua
Due: stylua

feat: ✨ add npm private registry config via home-manager
  .config/nix/home-manager/dotfiles.nix
Due: nix-fmt

feat: ✨ add subversion to the list of mocha-specific packages
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat: ✨ add claude-code binary via llm-agents.nix
  .config/nix/flake.lock
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

chore: 🔨 update flake.lock with new versions and hashes for dependencies
  .config/nix/flake.lock
Due: none

chore: 🔥 remove kiro-cli package
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/kiro.nix
Due: nix-fmt

feat: ✨ add ccsession via flake input
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
Due: nix-fmt

fix: 🐛 pin claude model to opus-4-6 (workaround #49747)
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

refactor: ♻️ remove backup configuration files for WezTerm settings
  .config/wezterm.bak/appearance.lua
  .config/wezterm.bak/color.lua
  .config/wezterm.bak/edit_prompt.lua
  .config/wezterm.bak/functions.lua
  .config/wezterm.bak/hyperlinks.lua
  .config/wezterm.bak/keymaps.lua
  .config/wezterm.bak/mode-wabisabi.lua
  .config/wezterm.bak/quick_select.lua
  .config/wezterm.bak/tab.lua
  .config/wezterm.bak/toggle_term.lua
  .config/wezterm.bak/wezterm.lua
  .config/wezterm.bak/workspace.lua
Due: stylua

feat: ✨ add official Slack platform CLI (slack-cli) v4.1.0
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/slack-cli.nix
Due: nix-fmt

fix: 🐛 replace deprecated vim.lsp.with() for Neovim 0.12
  .config/nvim/lua/config/options.lua
Due: stylua

refactor: ♻️ Remove plamo-translate from mise and consolidate everything into Nix
  .config/mise/config.toml
  .config/nix/flake.lock
Due: none

fix: 🐛 Resolve version mismatch between home-manager and nixpkgs
  .config/nix/flake.lock
Due: none

Revert "fix: 🐛 pin claude model to opus-4-6 (workaround #49747)"
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: Suppress version check warnings for nixpkgs-unstable and home-manager version checks
  .config/nix/home-manager/default.nix
Due: nix-fmt

Reapply "fix: 🐛 pin claude model to opus-4-6 (workaround #49747)"
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ Change to gitSVN to add git svn support
  .config/nix/flake.lock
  .config/nix/home-manager/packages.nix
Due: nix-fmt

feat: ✨ Added -b/--branch option to git-fork-get
  .config/zsh/rc/functions/git/git-fork-get
Due: none

feat: ✨ Add Raycast script to show free time slots for a specified date
  .config/raycast/scripts/free-time-slots.sh
  docs/raycast-today-suite.md
Due: none

feat: ✨ Show Monday schedule instead of Saturday on Fridays
  .config/raycast/scripts/today-calendar.sh
Due: none

feat: ✨ Added zeno branch completion for `git-fork-get -b`
  .config/zeno/git.yml
  .config/zeno/scripts/git-fork-get-branch-preview.sh
  .config/zeno/scripts/git-fork-get-branches.sh
Due: none

feat: ✨ Add ccsession config and nix symlink
  .config/ccsession/config.toml
  .config/nix/flake.lock
  .config/nix/home-manager/dotfiles.nix
  .config/zeno/git.yml
  .config/zeno/scripts/git-fork-get-branch-preview.sh
Due: nix-fmt

fix: 🐛 Correct color display for branch completion preview in git-fork-get
  .config/zeno/git.yml
  .config/zeno/scripts/git-fork-get-branch-preview.sh
Due: none

feat: ✨ Sort branch completions by update date
  .config/zeno/scripts/git-fork-get-branches.sh
Due: none

fix: 🐛 Migrate Discord from nixpkgs to Homebrew Cask
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat: ✨ Add playwright-cli package for browser automation via CDP
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/playwright-cli.nix
Due: nix-fmt

feat: ✨ Add keymap to open PR for current line via git blame
  .config/nvim/lua/config/keymaps.lua
Due: stylua

refactor: ♻️ Use flake input directly for ccsession package
  .config/nix/flake.lock
  .config/nix/flake.nix
Due: nix-fmt

chore: 🔧 Skip workflow usage warning in Claude Code settings
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 Corrected Lua diagnostic error in Neovim configuration
  .config/nvim/lua/config/autocmds.lua
  .config/nvim/lua/config/keymaps.lua
  .config/nvim/lua/config/nb.lua
  .config/nvim/lua/plugins/editor/octo-project-search.lua
Due: stylua

fix: 🐛 Prevent clipboard synchronization during FocusGained after deletion/modification
  .config/nvim/lua/config/autocmds.lua
  .config/nvim/spell/en.utf-8.add
Due: stylua

fix: 🐛 Work around Neovim 0.12.2 segfault when octo clears undo history
  .config/nvim/lua/plugins/editor/octo.lua
Due: stylua

Path conditions:
  nix-fmt: any of: *.nix and ^\.config/nix/
  stylua: any of: *.lua
