Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

refactor: ♻️ replace deprecated nvim APIs in baleia.lua
  .config/nvim/lua/plugins/base/baleia.lua
Due: stylua

chore: 🔥 remove PATH entries for uninstalled tools from .zshenv
  .config/nix/home-manager/zsh/env.nix
Due: nix-fmt

refactor: ♻️ reference pluginconfig scripts via ZRCDIR
  .config/nix/home-manager/zsh/init.nix
Due: nix-fmt

feat: ✨ set default key bindings for new and command workspaces
  .config/herdr/config.toml
Due: none

refactor: ♻️ split zsh.nix into role-based modules
  .config/nix/home-manager/default.nix
  .config/nix/home-manager/zsh.nix
  .config/nix/home-manager/zsh/aliases.nix
  .config/nix/home-manager/zsh/default.nix
  .config/nix/home-manager/zsh/env.nix
  .config/nix/home-manager/zsh/init.nix
Due: nix-fmt

fix: 🐛 switch zeno git tree command from exa to eza
  .config/zsh/rc/pluginconfig/zeno.zsh
Due: none

feat: ✨ add multipass to mocha via homebrew cask
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat: ✨ add portless via npx wrapper for all hosts
  .config/nix/flake.nix
  .config/nix/home-manager/packages.nix
  .config/nix/packages/portless.nix
Due: nix-fmt

fix: 🐛 migrate <C-j> to vim.diagnostic.jump
  .config/nvim/lua/config/keymaps.lua
Due: stylua

refactor: ♻️ remove dead alias.zsh and option.zsh
  .config/zsh/rc/alias.zsh
  .config/zsh/rc/option.zsh
Due: none

fix: 🐛 remove stray comma breaking <leader>gR fallback
  .config/nvim/lua/config/keymaps.lua
Due: stylua

perf: ⚡️ disable home-manager's synchronous compinit
  .config/nix/home-manager/zsh/default.nix
  .config/nix/home-manager/zsh/init.nix
Due: nix-fmt

chore: 🔥 remove commented-out diffview keymaps from git.lua
  .config/nvim/lua/plugins/editor/git.lua
Due: stylua

refactor: ♻️ consolidate nvim plugin specs and remove dead files
  .config/nvim/lazy-lock.json
  .config/nvim/lua/config/lazy.lua
  .config/nvim/lua/plugins/base/translator.lua
  .config/nvim/lua/plugins/disable.lua
  .config/nvim/lua/plugins/editor/minty.lua
  .config/nvim/lua/plugins/editor/octo.lua
  .config/nvim/lua/plugins/editor/plamo-translate.lua
  .config/nvim/lua/plugins/editor/vim-sandwich.lua
  .config/nvim/lua/plugins/example.lua
  .config/nvim/lua/plugins/ui/colorschemes.lua
Due: stylua

refactor: ♻️ consolidate history setopts into programs.zsh.history
  .config/nix/home-manager/zsh/default.nix
  .config/nix/home-manager/zsh/init.nix
Due: nix-fmt

perf: ⚡️ skip zeno's deno cache run at shell startup
  .config/nix/home-manager/zsh/init.nix
Due: nix-fmt

docs: 📝 add ghost/portless pitfalls learned from real usage
  .config/claude/rules/background-process.md
Due: none

feat: ✨ add Claude Code skill for controlling Herdr
  .config/claude/skills/herdr/SKILL.md
Due: none

docs: 📝 add recovery steps for CDP initializeServer timeout in arc-browser skill
  .config/claude/skills/arc-browser/SKILL.md
Due: none

docs: 📝 document local-path resolution and scoped-style pitfalls in slidev skill
  .config/claude/skills/slidev/SKILL.md
Due: none

chore: 🔨 update flake.lock with new revisions
  .config/nix/flake.lock
Due: none

chore: 🔧 use gh as git credential helper for github.com
  .gitconfig
Due: none

fix: 🐛 migrate llm-agents overlay to renamed shared-nixpkgs output
  .config/nix/flake.lock
  .config/nix/flake.nix
Due: nix-fmt

feat: ✨ add Raycast toggle for Claude Code git push permission
  .config/claude/hooks/prevent-git-push.py
  .config/claude/scripts/claude-git-push-ctl.sh
  .config/nix/home-manager/claude-code.nix
  .gitignore
Due: nix-fmt

chore: 🔧 deny claude-in-chrome MCP tools in Claude Code
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 highlight mid-file frontmatter as YAML in markdown
  .config/nvim/after/queries/markdown/injections.scm
  .config/nvim/lua/plugins/editor/avante.lua
Due: stylua

docs: 📝 add parallel-work rule for herdr/ghost/subagent split
  .config/claude/rules/parallel-work.md
Due: none

fix: 🐛 make worktree isolation for delegated edit tasks a MUST
  .config/claude/rules/parallel-work.md
  .config/claude/skills/herdr/SKILL.md
Due: none

chore: 🔧 add gh-image to managed gh extensions
  .config/nix/home-manager/gh.nix
Due: nix-fmt

feat: ✨ rebind command palette from Ctrl+P to Shift+UpArrow
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ add pr-slide-screenshots skill
  .config/claude/skills/pr-slide-screenshots/SKILL.md
Due: none

chore: 🔧 remove gh-image from managed gh extensions
  .config/nix/home-manager/gh.nix
Due: nix-fmt

fix: 🐛 run rumdl from the target file's repo root in the post-write hook
  .config/claude/hooks/post-write-dispatch.sh
Due: none

fix: 🐛 run compinit -C in the deferred completion setup
  .config/nix/home-manager/zsh/init.nix
Due: nix-fmt

feat: ✨ add rjyo/moshi tap and moshi-hook brew to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat: ✨ enable Tailscale and add mosh to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix: 🐛 send CSI 27u for physical Escape key in kitty protocol
  .config/wezterm/keymaps.lua
Due: stylua

docs: 📝 remove prerequisites section from the setup instructions
  README.md
Due: none

feat: Add open-aws-console and awsp -c options to open AWS console from CLI credentials
  .config/zsh/rc/functions/aws/open-aws-console
  .config/zsh/rc/functions/aws/set-aws-profile
Due: none
