Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

chore(nvim): 🔧 add shishoctl related words to spellfile
  .config/nvim/spell/en.utf-8.add
Due: none

fix(nvim): 🐛 exclude folder entries from nb picker and shellescape folder path
  .config/nvim/lua/config/nb.lua
Due: stylua

chore(lazygit): 🔧 enable git.overrideGpg setting
  .config/nix/home-manager/lazygit.nix
Due: nix-fmt

fix(nvim): 🐛 use WezCapture pipeline for wezesc file rendering
  .config/nvim/lua/plugins/base/baleia.lua
Due: stylua

refactor: ♻️ extract settings.json drift fix into nix-settings-drift skill
  .config/claude/skills/nix-settings-drift/SKILL.md
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(nvim): ✨ add <leader>gD keybind for git diff vs main
  .config/nvim/lua/plugins/base/snacks.lua
Due: stylua

feat(nvim): ✨ add ANSI-stripped preview for .wezesc files in nb picker
  .config/nvim/lua/plugins/base/nb.lua
Due: stylua

feat(wezterm): ✨ add tab rename with LEADER+, and Claude Code icon
  .config/nix/flake.nix
  .config/nix/hosts/mocha/default.nix
  .config/nix/packages/vde-layout.nix
  .config/wezterm/keymaps.lua
  .config/wezterm/tab.lua
Due: nix-fmt, stylua

chore: 🔧 add plugin to private marketplace enabledPlugins
  .config/nix/secrets/user-secrets.yaml
Due: none

feat(vde): ✨ add demo preset and config path resolution for WezTerm
  .config/nix/packages/vde-layout.nix
  .config/vde/layout.yml
Due: nix-fmt

fix(wezterm): 🐛 cache Claude Code detection to persist ✳ icon during subprocess execution
  .config/wezterm/tab.lua
Due: stylua

feat(wezterm): ✨ add vde-layout demo to command palette
  .config/wezterm/keymaps.lua
Due: stylua

fix(wezterm): 🐛 move Claude detection to update-status for stable ✳ icon persistence
  .config/wezterm/tab.lua
Due: stylua

feat(nix): ✨ add figlet to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(vde-layout): ✨ update layout commands and add custom script for image display
  .config/vde/layout.yml
  mozumasu.sh
Due: none

feat(nix): ✨ add nyancat to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(nix): ✨ add btop to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(vde): ✨ update demo preset to 6-pane nested layout
  .config/vde/layout.yml
Due: none

fix(wezterm): 🐛 wezterm cli set-tab-title の結果を反映
  .config/wezterm/tab.lua
Due: stylua

feat(skill): ✨ capture-sessionスキルを追加
  .config/claude/skills/capture-session/SKILL.md
Due: none

feat(nix): ✨ add vscode to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat(nix): ✨ Switched from MonitorControl to BetterDisplay
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

feat(claude): ✨ Added a hook to automatically detect commit style during git commit
  .config/claude/CLAUDE.md
  .config/claude/hooks/detect-commit-style.sh
  .config/claude/hooks/pre-bash-dispatch.sh
Due: none

fix(claude): 🐛 Corrected errors in nafplay hooks and corrected the redirect for settings.json modifications
  .config/claude/hooks/redirect-dotfiles.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix(hooks): 🐛 Detect subject/body language separately in commit style hook
  .config/claude/hooks/detect-commit-style.sh
Due: none

feat: ✨ add GitHub user configuration to .gitconfig file
  .gitconfig
Due: none

feat(nix): ✨ Added pngpaste for img-clip.nvim
  .config/nix/home-manager/packages.nix
Due: nix-fmt

fix(nvim): 🐛 Fixed an issue where the <leader>P keymap in img-clip.nvim wasn't functioning correctly
  .config/nvim/lua/plugins/editor/avante.lua
  .config/nvim/lua/plugins/img-clip.lua
Due: stylua

fix(nvim): 🐛 Moved img-clip.lua to the editor/ directory and modified it to be loaded by lazy.nvim
  .config/nvim/lua/plugins/editor/img-clip.lua
Due: stylua

feat(zeno): ✨ Add fzf completion for gcloud config configurations activate
  .config/zeno/gcloud.yml
Due: none

feat(zeno): ✨ Add snippet to open GCP console for current project
  .config/zeno/gcloud.yml
Due: none

refactor: ♻️ remove Vagrantfile and related Japanese help documentation
  README.md
  vm/Vagrantfile
  vm/vagrant_help
Due: none

feat(wezterm): ✨ Add kebab-case/snake_case identifier and email patterns to Quick Select
  .config/wezterm/wezterm.lua
Due: stylua

feat(claude): ✨ Extract infrastructure policy into path-scoped rules file
  .config/claude/rules/infrastructure.md
Due: none

feat(zsh): ✨ Add ghq-fzf-readme keybind to search repos by README content
  .config/zsh/rc/bindkey.zsh
  .config/zsh/rc/functions/ghq-fzf-readme
Due: none

feat: ✨ remove obsolete model setting and adjust effort level
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat(nix): ✨ Add thonny to mocha host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

fix: 🐛 remove unnecessary closing brace from configuration file
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix(yazi): 🐛 Backports breaking changes from yazi 26.x
  .config/yazi/keymap.toml
  .config/yazi/yazi.toml
Due: none

feat(darwin): ✨ disable com.apple.rcd to prevent Music.app auto-launch
  .config/nix/darwin/system.nix
Due: nix-fmt
