Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

# https://github.com/evilmartians/lefthook
pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      root: ".config/nix/"
      run: nix fmt
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}

chore: 🔨 remove Brewfile and Taskfile.yml to streamline dependencies
  Brewfile
  Taskfile.yml
Due: none

feat: ✨ add Karabiner configuration for custom keyboard shortcuts
  .config/karabiner/karabiner.json
  .config/karabiner/scripts/auto-switch-profile-v3.sh
  .config/nix/darwin/kanata.nix
  .config/nix/home-manager/dotfiles.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

feat: ✨ Add Karabiner profile selection completion to zeno.zsh
  .config/zeno/karabiner.yml
Due: none

chore: 🔨 add 'fzf' and 'peco' to the Neovim spell file dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat: ✨ Added GitHub project search functionality for octo.nvim
  .config/nvim/lua/plugins/editor/octo-project-search.lua
  .config/nvim/lua/plugins/editor/octo.lua
Due: stylua

feat: ✨ Speed up Octo.nvim project search with parallel processing and caching
  .config/nvim/lua/plugins/editor/octo-project-search.lua
Due: stylua

feat: ✨ Adds AWS Secrets Manager secret auto-completion to zeno.zsh
  .config/zeno/aws.yml
Due: none

feat: ✨ Add Arto markdown editor support to Neovim and Nix
  .config/nix/darwin/homebrew.nix
  .config/nix/hosts/common/homebrew.nix
  .config/nvim/lua/config/autocmds.lua
Due: nix-fmt, stylua

chore: 🔨 add "Checkov" and "ast" to the Neovim spell file
  .config/nvim/spell/en.utf-8.add
Due: none

feat: ✨ Add git log file browser integration to Snacks.nvim
  .config/nvim/lua/plugins/base/snacks.lua
Due: stylua

feat: ✨ Add checkout keybinding (o) to git_log_file picker
  .config/nvim/lua/plugins/base/snacks.lua
Due: stylua

feat: ✨ Add ghost command to WezTerm command palette
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ Add Lazygit to WezTerm launch menu keymaps
  .config/wezterm/keymaps.lua
Due: stylua

chore: 🔨 add "InputSelector" to the Neovim spell check dictionary
  .config/nvim/spell/en.utf-8.add
Due: none

feat(wezterm): ✨ Add Ghost and Lazygit to WezTerm command palette with augment-command-palette
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ Replace launch menu with fuzzy finder for WezTerm commands
  .config/wezterm/keymaps.lua
Due: stylua

feat(claude): ✨ add git commit command to Claude settings for Bash integration
  .config/claude/settings.json
Due: none

refactor(wezterm): ♻️ Switch from new tab creation to overlay pane for ghost and lazygit
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ Add nb workspace toggle with CTRL+CMD+a
  .config/wezterm/workspace.lua
Due: stylua

feat(nix): ✨ Add AWS CLI wrapper function to home-manager zsh config
  .config/nix/home-manager/zsh.nix
Due: nix-fmt

feat(wezterm): ✨ Add Neovim to command palette and launcher
  .config/wezterm/keymaps.lua
Due: stylua

refactor(zsh): ♻️ Extract brew and aws wrapper functions to separate files
  .config/nix/home-manager/zsh.nix
  .config/zsh/rc/alias.zsh
  .config/zsh/rc/functions/aws-wrapper
  .config/zsh/rc/functions/brew
Due: nix-fmt

feat(karabiner): ✨ Added Caps Lock→Control conversion for built-in Mac keyboards
  .config/karabiner/karabiner.json
Due: none

feat(zsh): ✨ add snippet for 'gcloud' command in gcloud.yml configuration
  .config/zeno/gcloud.yml
Due: none

chore(karabiner): 🔨 refactor key mappings to restore caps_lock as left_control
  .config/karabiner/karabiner.json
Due: none

feat(zeno): ✨ Add GitHub status management snippets
  .config/zeno/git.yml
Due: none

feat(wezterm): ✨ Added session resumption functionality to Claude Code by selecting from session history:
  .config/wezterm/modules/claude_session.lua
  .config/wezterm/wezterm.lua
Due: stylua

feat(wezterm): ✨ Added functionality to search for and switch between active Claude Code sessions in Wezterm
  .config/wezterm/modules/claude_session.lua
Due: stylua

refactor(wezterm): Remove session resumption functionality from Claude Code session history
  .config/wezterm/modules/claude_session.lua
Due: stylua

feat(wezterm): ✨ Display project name and session content when selecting a session
  .config/wezterm/modules/claude_session.lua
Due: stylua

feat(wezterm): ✨ Enhanced session selection display with rich Nerd Font icons
  .config/wezterm/modules/claude_session.lua
Due: stylua

style(wezterm): 💄 Updated session selection colors to a refined palette
  .config/wezterm/modules/claude_session.lua
Due: stylua

feat(wezterm): ✨ Added functionality to display weather information using wttr.in from the command palette
  .config/wezterm/keymaps.lua
Due: stylua

feat(wezterm): ✨ InputSelectorだとUIの制御ができないためLuaスクリプトに変更
  .config/wezterm/modules/claude_session.lua
  .config/wezterm/scripts/preview_claude_session.lua
Due: stylua

refactor(wezterm): ♻️ Remove unused functions and address diagnostic warnings
  .config/wezterm/modules/claude_session.lua
Due: stylua

feat: ✨ Add Ice Menu Bar Management Tool to Mocha Host
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

refactor: ♻️ remove unused language translation script for wezterm
  .config/wezterm.bak/translate.lua
Due: stylua

feat(wezterm): ✨ Adds translation functionality to copy mode
  .config/wezterm/modules/translate.lua
  .config/wezterm/wezterm.lua
Due: stylua

feat(claude): ✨ add PR draft template for Terraform command guidelines
  .config/claude/commands/pr-terraform.md
Due: none

chore: 🔨 add "ripgrep" to the Neovim English spell checker list
  .config/nvim/spell/en.utf-8.add
Due: none
