Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

nix-fmt:
  run: nix fmt

stylua:
  run: stylua {staged_files}

fix: 🐛 Run gh browse without waiting for Enter in lazygit
  .config/nix/home-manager/lazygit.nix
Due: nix-fmt

feat: ✨ Add gh browse custom command to lazygit
  .config/nix/home-manager/lazygit.nix
Due: nix-fmt

feat: ✨ bind arrow keys to history-beginning-search
  .config/zsh/rc/bindkey.zsh
Due: none

docs: 📝 optimize slidev skill for progressive disclosure
  .config/claude/skills/slidev/SKILL.md
  .config/claude/skills/slidev/references/theme-development.md
  .config/claude/skills/slidev/references/vue-patterns.md
Due: none

feat: ✨ add Windows mouse acceleration curve regs for roBa
  .config/windows/README.md
  .config/windows/mouse-accel-curve.reg
  .config/windows/mouse-default-curve.reg
Due: none

feat: ✨ add robusta host for Windows WSL via standalone home-manager
  .config/nix/flake.nix
  .config/nix/hosts/robusta/home.nix
  .config/windows/README.md
Due: nix-fmt

fix: 🐛 exclude sops secrets from treefmt
  .config/nix/treefmt.nix
Due: nix-fmt

feat: ✨ add herdr to robusta
  .config/nix/hosts/robusta/home.nix
Due: nix-fmt

refactor: ♻️ manage herdr via nixpkgs instead of Homebrew
  .config/nix/home-manager/packages.nix
  .config/nix/hosts/common/homebrew.nix
Due: nix-fmt

chore: 🔧 comment out herdr on robusta for now
  .config/nix/hosts/robusta/home.nix
Due: nix-fmt

feat: ✨ enable fish on mocha
  .config/nix/hosts/mocha/default.nix
Due: nix-fmt

feat: ✨ add count shorthand and -n/-b/-o options to copy-answer
  .config/claude/commands/copy-answer.md
  .config/claude/scripts/copy-answer.sh
Due: none

fix: 🐛 make bare number mean Nth-previous answer like built-in /copy
  .config/claude/commands/copy-answer.md
  .config/claude/scripts/copy-answer.sh
Due: none

chore: 🔧 untrack settings.json and other Nix-generated artifacts
  .config/claude/policy-limits.json
  .config/claude/settings.json
  .config/claude/tasks/65f0bb21-487a-419c-a18b-76fc2d802987/.lock
  .gitignore
Due: none

fix: 🐛 sync Claude Code permissions and model with actual MCP servers
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

refactor: ♻️ consolidate commit tooling into git-commit skill
  .config/claude/commands/git/commit.md
  .config/claude/commands/ok.md
  .config/claude/skills/git-commit/SKILL.md
Due: none

chore: 🔧 remove orphaned prevent-sns-daily-weekly hook
  .config/claude/hooks/prevent-sns-daily-weekly.sh
Due: none

feat: ✨ add /copy-pick for interactive code-block copying
  .config/claude/commands/copy-answer.md
  .config/claude/commands/copy-pick.md
  .config/claude/scripts/copy-answer.sh
Due: none

fix: 🐛 deploy agents/ via activation symlink
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

refactor: ♻️ replace AskUserQuestion picker with number-reply flow in /copy-pick
  .config/claude/commands/copy-pick.md
Due: none

fix: 🐛 stop redirect-dotfiles hook from blocking runtime writes
  .config/claude/hooks/redirect-dotfiles.sh
Due: none

feat: ✨ add -nb <notebook> option to copy-answer for saving to nb
  .config/claude/commands/copy-answer.md
  .config/claude/scripts/copy-answer.sh
Due: none

chore: 🔧 remove markdown-session-format skill
  .config/claude/skills/markdown-session-format/SKILL.md
Due: none

chore: 🔧 remove save-session and capture-session skills
  .config/claude/commands/open-note.md
  .config/claude/scripts/open-note-in-wezterm.sh
  .config/claude/scripts/open-note.sh
  .config/claude/skills/capture-session/SKILL.md
  .config/claude/skills/save-session/SKILL.md
  .config/claude/skills/save-session/scripts/capture.sh
  .config/claude/skills/save-session/scripts/save-session.sh
  .config/claude/skills/save-session/scripts/session-format.jq
Due: none

feat: ✨ route background processes through ghost instead of run_in_background
  .config/claude/rules/background-process.md
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

chore: 🔧 remove agent-memory skill superseded by built-in memory
  .config/claude/skills/agent-memory/SKILL.md
Due: none

docs: 📝 add invocation trigger examples to git-commit skill description
  .config/claude/skills/git-commit/SKILL.md
Due: none

fix: 🐛 narrow capture-session allowed-tools to its capture script
  .config/claude/skills/capture-session/SKILL.md
Due: none

chore: 🔧 remove save-answer in favor of copy-answer -nb
  .config/claude/commands/open-note.md
  .config/claude/commands/save-answer.md
  .config/claude/scripts/copy-answer.sh
  .config/claude/scripts/open-note-in-wezterm.sh
  .config/claude/scripts/open-note.sh
  .config/claude/scripts/save-answer.sh
Due: none

docs: 📝 point cdk-mode at aws-core plugin skills instead of removed MCP servers
  .config/claude/commands/cdk-mode.md
Due: none

refactor: ♻️ consolidate Write/Edit PreToolUse hooks into pre-write-dispatch
  .config/claude/hooks/pre-write-dispatch.sh
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

refactor: ♻️ move hook-only scripts from scripts/ to hooks/
  .config/claude/hooks/format-nix.sh
  .config/claude/hooks/post-write-dispatch.sh
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/claude/hooks/terraform-hook.py
  .config/claude/hooks/terraform-post-hook.py
Due: none

fix: 🐛 skip docker routing in terraform-hook when the daemon is down
  .config/claude/hooks/terraform-hook.py
Due: none

feat: ✨ deny shell-operator backgrounding (& / nohup / setsid) via hook
  .config/claude/hooks/pre-bash-dispatch.sh
  .config/claude/hooks/prevent-shell-background.sh
  .config/claude/rules/background-process.md
Due: none

docs: 📝 Applying insights from slidev/vue theme refactoring to my development skills
  .config/claude/skills/slidev/references/vue-patterns.md
  .config/claude/skills/vue-conventions/SKILL.md
Due: none

chore: 🔥 remove obsolete GO111MODULE export
  .config/nix/home-manager/zsh/env.nix
Due: nix-fmt

fix: 🐛 move LazyDocker from <leader>d to <leader>dd
  .config/nvim/lua/config/keymaps.lua
Due: stylua

refactor: ♻️ cycle scroll position by repeating zz instead of bare z
  .config/nvim/lua/config/keymaps.lua
Due: stylua

chore: 🔥 remove commented-out bindings and template noise
  .config/zsh/rc/bindkey.zsh
  .config/zsh/rc/pluginconfig/zeno.zsh
Due: none

perf: ⚡️ cache MANPATH computation in the brew shellenv cache
  .config/nix/home-manager/zsh/init.nix
Due: nix-fmt

Path conditions:
  nix-fmt: any of: *.nix and ^\.config/nix/
  stylua: any of: *.lua
