Repository mozumasu/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

nix-fmt:
  run: nix fmt

stylua:
  run: stylua {staged_files}

feat: ✨ deliver cmd+ctrl keys to herdr natively via kitty protocol
  .config/wezterm/wezterm.lua
  .config/wezterm/workspace.lua
Due: stylua

feat: ✨ remap ctrl+j to the kana key for macSKK in WezTerm
  .config/karabiner/karabiner.json
Due: none

feat: ✨ apply the ctrl+j kana remap in Arc as well
  .config/karabiner/karabiner.json
Due: none

fix: 🐛 drop the Ctrl+[ to escape+eisuu remap that broke C-[ in herdr
  .config/karabiner/karabiner.json
Due: none

feat: ✨ let C-[ cancel macSKK conversion in WezTerm
  .config/karabiner/karabiner.json
Due: none

feat: ✨ send escape for C-[ outside WezTerm to restore GUI esc
  .config/karabiner/karabiner.json
Due: none

feat: ✨ translate C-[ to esc in WezTerm so herdr UI accepts it
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ add AeroSpace config reload to WezTerm command palette
  .config/wezterm/keymaps.lua
Due: stylua

fix: 🐛 send CSI 27u for C-[ to nvim as well
  .config/wezterm/keymaps.lua
Due: stylua

fix: 🐛 accept C-[ as esc in copy/search/setting key tables
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ add herdr workspace creation to WezTerm command palette
  .config/wezterm/keymaps.lua
Due: stylua

feat: ✨ unbind C-l in Claude Code to stop accidental /clear
  .config/claude/keybindings.json
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ rework herdr keybindings and enable UI options
  .config/herdr/config.toml
Due: none

feat: ✨ move WezTerm tab/pane ops to leader and drop pickers
  .config/wezterm/keymaps.lua
  .config/wezterm/workspace.lua
Due: stylua

chore: 🔧 disable alt-g workspace bindings in AeroSpace
  .config/aerospace/aerospace.toml
Due: none

feat: ✨ add docs-researcher agent and library-docs rule
  .config/claude/agents/docs-researcher.md
  .config/claude/rules/library-docs.md
Due: none

feat: ✨ add slidev skill for slide authoring and theme development
  .config/claude/skills/slidev/SKILL.md
  .config/claude/skills/slidev/references/theme-development.md
Due: none

feat: ✨ move lazygit/nvim launchers from WezTerm palette to herdr
  .config/herdr/config.toml
  .config/wezterm/keymaps.lua
Due: stylua

docs: 📝 add Vue patterns reference to slidev skill
  .config/claude/skills/slidev/SKILL.md
  .config/claude/skills/slidev/references/vue-patterns.md
Due: none

feat: ✨ add vue-conventions skill for Vue 3 coding standards
  .config/claude/skills/vue-conventions/SKILL.md
Due: none

docs: 📝 use pnpm commands in slidev skill
  .config/claude/skills/slidev/SKILL.md
  .config/claude/skills/slidev/references/theme-development.md
Due: none

fix: 🐛 remove invalid settings keys and narrow token deny pattern
  .config/claude/settings.json
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

fix: 🐛 align includeCoAuthoredBy with Nix-managed value
  .config/claude/settings.json
Due: none

feat: ✨ add fact-based response rule
  .config/claude/rules/fact-based.md
Due: none

docs: 📝 Added real project pitfalls and Vue patterns to the slidev skills section
  .config/claude/skills/slidev/SKILL.md
  .config/claude/skills/slidev/references/vue-patterns.md
Due: none

docs: 📝 add good example to code-comments rule
  .config/claude/rules/code-comments.md
Due: none

fix: remove agent-type Stop hook causing drift-check loop
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ Add the frontend-design plugin to enabledPlugins
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

feat: ✨ allow env-var override in commit-style detection
  .config/claude/hooks/detect-commit-style.sh
Due: none

feat: ✨ add arc-browser skill for Playwright CDP-attached browser automation
  .config/claude/skills/arc-browser/SKILL.md
Due: none

chore: 🔨 update flake.lock with new revisions and metadata changes
  .config/nix/flake.lock
Due: none

docs: 📝 Updated with real-world project insights to address common pitfalls of the slidev skill
  .config/claude/skills/slidev/SKILL.md
Due: none

fix: 🐛 Misidentifies Japanese projects as violating commit style guidelines
  .config/claude/hooks/validate-commit-style.py
Due: none

feat: ✨ remap Ctrl+b to left arrow again
  .config/karabiner/karabiner.json
Due: none

feat: ✨ Add playwright plugin to enabledPlugins
  .config/nix/home-manager/claude-code.nix
Due: nix-fmt

chore: 🔨 update model setting to use claude-opus-4-6 version
  .config/claude/settings.json
Due: none

docs: 📝 Added notes about pnpm workspace + npx MCP issues to the arc-browser skill documentation
  .config/claude/skills/arc-browser/SKILL.md
Due: none

docs: 📝 Added notes about code block pitfalls and customization procedures to the slidev skill documentation
  .config/claude/skills/slidev/SKILL.md
  .config/claude/skills/slidev/references/theme-development.md
Due: none

fix: 🐛 ignore roBa in Karabiner to avoid double remap
  .config/karabiner/karabiner.json
Due: none

feat: ✨ Improve lazygit custom command labels and error visibility
  .config/nix/home-manager/lazygit.nix
Due: nix-fmt

Path conditions:
  nix-fmt: any of: *.nix and ^\.config/nix/
  stylua: any of: *.lua
